.reserva-pista-de-padel .rectangle-9 {
  opacity: 0.49;
  position: absolute;
  left: 370px;
  top: 380px;
  width: 325px;
  height: 246px;
}
.reserva-pista-de-padel .rectangle-7 {
  opacity: 0.49;
  position: absolute;
  left: 763px;
  top: 380px;
  width: 325px;
  height: 246px;
}
.reserva-pista-de-padel .rectangle-21 {
  box-shadow: 0px 97px 90px 0px rgba(7, 0, 59, 0.15);
  border-radius: 12px;
  position: absolute;
  left: 746px;
  top: 331px;
  width: 359px;
  height: 295px;
}
.reserva-pista-de-padel .rectangle-4 {
  box-shadow: 0px 97px 90px 0px rgba(7, 0, 59, 0.15);
  border-radius: 12px;
  position: absolute;
  top: 331px;
  right: 425px;
  width: 359px;
  height: 295px;
}
.reserva-pista-de-padel .rectangle-31 {
  position: absolute;
  left: 746px;
  top: 331.2px;
  width: 359px;
  height: 7.4px;
}
.reserva-pista-de-padel .ellipse-6331 {
  opacity: 0.2;
  position: absolute;
  left: 875.5px;
  top: 379.7px;
  width: 100px;
  height: 105.2px;
}
.reserva-pista-de-padel .rectangle-71 {
  opacity: 0.49;
  position: absolute;
  top: 380px;
  right: 439px;
  width: 325px;
  height: 242px;
}
.reserva-pista-de-padel .rectangle-179 {
  box-shadow: 0px 97px 90px 0px rgba(7, 0, 59, 0.15);
  border-radius: 12px;
  position: absolute;
  left: 744px;
  top: 669px;
  width: 359px;
  height: 151px;
}
.reserva-pista-de-padel .rectangle-180 {
  position: absolute;
  left: 744px;
  top: 669px;
  width: 359px;
  height: 7.4px;
}
.reserva-pista-de-padel .tu-comunidad {
  margin: 2px 23.5px 1px 0;
  display: inline-block;
  width: 1170.2px;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 36px;
  color: #292525;
}
.reserva-pista-de-padel .pricing-faqs-freebies-contact-1 {
  margin: 14px 11.5px 13px 0;
  width: 92.2px;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 18px;
  color: var(--secondary-1, #7BC0E3);
}
.pricing-faqs-freebies-contact-1-sub30 {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.333;
  color: #000000;
}
.reserva-pista-de-padel .our-works {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
}
.reserva-pista-de-padel .group-10937 {
  border-radius: 1000px;
  background: #7BC0E3;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 11.5px 0px 11.5px 0;
  width: 188.5px;
  box-sizing: border-box;
}
.reserva-pista-de-padel .group-11040 {
  border-radius: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 292.1px;
  height: fit-content;
  box-sizing: border-box;
}
.reserva-pista-de-padel .navbar {
  background: #FFFFFF;
  position: relative;
  margin-bottom: 77px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0 30px 183.1px;
  width: 1920px;
  box-sizing: border-box;
}
.reserva-pista-de-padel .reserva-de-zonas {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 48px;
  color: #292525;
}
.reserva-pista-de-padel .group-22 {
  position: relative;
  margin: 0 68px 82px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.reserva-pista-de-padel .rectangle-2 {
  box-shadow: 0px 97px 90px 0px rgba(7, 0, 59, 0.12);
  border-radius: 12px;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 359px;
  height: 295px;
}
.reserva-pista-de-padel .rectangle-3 {
  position: relative;
  margin-bottom: 41.1px;
  width: 359px;
  height: 7.4px;
}
.reserva-pista-de-padel .ellipse-633 {
  opacity: 0.2;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 105.2px;
}
.reserva-pista-de-padel .group-11085 {
  position: relative;
  margin: 0 0 57px 122px;
  align-self: center;
  width: 50px;
  height: 50px;
}
.reserva-pista-de-padel .pista-de-padel {
  margin-bottom: 39px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 20px;
  color: #292525;
}
.reserva-pista-de-padel .reservar {
  margin-right: 18.3px;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  color: var(--secondary-1, #7BC0E3);
}
.reserva-pista-de-padel .group-5 {
  margin: 6.9px 0 2.8px 0;
  width: 24.7px;
  height: 8.3px;
}
.reserva-pista-de-padel .group-6 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.reserva-pista-de-padel .group-7 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.reserva-pista-de-padel .group-8 {
  position: relative;
  margin: 0 33px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding-top: 28.3px;
  width: fit-content;
  box-sizing: border-box;
}
.reserva-pista-de-padel .group-9 {
  position: relative;
  margin-right: 66.8px;
  display: flex;
  flex-direction: column;
  padding: 0.2px 0 28px 0;
  width: 359px;
  box-sizing: border-box;
}
.reserva-pista-de-padel .vector-5 {
  width: 42.5px;
  height: 5.5px;
}
.reserva-pista-de-padel .group-11082 {
  position: relative;
  margin-bottom: 87.4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-end;
  width: 42.5px;
  height: 5.5px;
  box-sizing: border-box;
}
.reserva-pista-de-padel .pista-de-tenis {
  margin-bottom: 44.1px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 20px;
  color: #292525;
}
.reserva-pista-de-padel .reservar-1 {
  margin-right: 13.2px;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  color: var(--secondary-1, #7BC0E3);
}
.reserva-pista-de-padel .container-5 {
  margin: 10px 0 7px 0;
  width: 24.2px;
  height: 1px;
}
.reserva-pista-de-padel .group-61 {
  margin: 0 0.3px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.reserva-pista-de-padel .container-6 {
  margin: 91px 191px 23px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.reserva-pista-de-padel .rectangle-22 {
  border-radius: 12px;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 359px;
  height: 294.8px;
}
.reserva-pista-de-padel .rectangle-32 {
  position: relative;
  margin-bottom: 43px;
  width: 359px;
  height: 5.4px;
}
.reserva-pista-de-padel .ellipse-6332 {
  opacity: 0.2;
  position: relative;
  margin: 0 0 30.2px 1px;
  align-self: center;
  width: 100px;
  height: 105.2px;
}
.reserva-pista-de-padel .local {
  margin-bottom: 37.9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 20px;
  color: #292525;
}
.reserva-pista-de-padel .reservar-2 {
  margin-right: 18.3px;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  color: var(--secondary-1, #7BC0E3);
}
.reserva-pista-de-padel .group-51 {
  margin: 5.1px 0 6.8px 0;
  width: 24.7px;
  height: 6.1px;
}
.reserva-pista-de-padel .group-62 {
  margin-left: 1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.reserva-pista-de-padel .group-71 {
  position: relative;
  margin: 0 32px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.reserva-pista-de-padel .icon-1 {
  width: 34.8px;
  height: 38.2px;
}
.reserva-pista-de-padel .outline-general-home {
  position: absolute;
  left: 50%;
  top: 83.9px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 34.8px;
  height: 38.2px;
  box-sizing: border-box;
}
.reserva-pista-de-padel .group-10 {
  position: relative;
  margin-top: 0.2px;
  display: flex;
  flex-direction: column;
  padding-bottom: 29.1px;
  box-sizing: border-box;
}
.reserva-pista-de-padel .group-11084 {
  position: absolute;
  left: 50%;
  top: 77px;
  translate: -50% 0;
  width: 50px;
  height: 50px;
}
.reserva-pista-de-padel .container-8 {
  position: relative;
  margin: 0 69px 103px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.reserva-pista-de-padel .gestionar-reservas {
  position: relative;
  margin: 0 68.8px 22px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 20px;
  color: #292525;
}
.reserva-pista-de-padel .acceder {
  margin-right: 14.7px;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  color: var(--secondary-1, #7BC0E3);
}
.reserva-pista-de-padel .container-9 {
  margin: 10px 0 7px 0;
  width: 24.2px;
  height: 1px;
}
.reserva-pista-de-padel .group-11016 {
  position: relative;
  margin-right: 264.8px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.reserva-pista-de-padel .rectangle-188 {
  box-shadow: 0px 97px 90px 0px rgba(7, 0, 59, 0.15);
  border-radius: 12px;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 862px;
  height: 224px;
}
.reserva-pista-de-padel .rectangle-33 {
  position: relative;
  margin-bottom: 11.8px;
  width: 862px;
  height: 7px;
}
.reserva-pista-de-padel .pdel {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 20px;
  color: #292525;
}
.reserva-pista-de-padel .group-11099 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3px 12.2px 0 10px;
  box-sizing: border-box;
}
.reserva-pista-de-padel .hoy {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 20px;
  color: #292525;
}
.reserva-pista-de-padel .group-11102 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3px 18.8px 0 8.6px;
  box-sizing: border-box;
}
.reserva-pista-de-padel .rectangle-1944 {
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 65px;
  height: 28.7px;
}
.reserva-pista-de-padel .filtros {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 20px;
  color: #292525;
}
.reserva-pista-de-padel .group-11103 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3px 0 0 9px;
  box-sizing: border-box;
}
.reserva-pista-de-padel .rectangle-193 {
  background: #FFFFFF;
  position: absolute;
  left: 67px;
  bottom: 2.2px;
  width: 31px;
  height: 20.8px;
}
.reserva-pista-de-padel .container {
  position: relative;
  margin-bottom: 50.3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 283.4px;
  box-sizing: border-box;
}
.reserva-pista-de-padel .pdel-1 {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 17px;
  color: #292525;
}
.reserva-pista-de-padel .group-11100 {
  background: #FFFFFF;
  position: relative;
  margin-bottom: 12.9px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  padding: 5.9px 10.1px 0.8px 10px;
  box-sizing: border-box;
}
.reserva-pista-de-padel .pdel-2 {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 17px;
  color: #292525;
}
.reserva-pista-de-padel .group-11101 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  padding: 3px 6.4px 3.8px 10px;
  box-sizing: border-box;
}
.reserva-pista-de-padel .container-7 {
  background: url('../assets/images/reservaPadelRecottr1.png') 50% / cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1px 0 31.7px 4px;
  width: fit-content;
  box-sizing: border-box;
}
.reserva-pista-de-padel .group-11096 {
  position: relative;
  margin: 0 4px 118px 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 22.8px;
  width: fit-content;
  box-sizing: border-box;
}
.reserva-pista-de-padel .anular-reserva {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.35;
  color: #FFFFFF;
}
.reserva-pista-de-padel .group-11098 {
  border-radius: 1000px;
  background: #E77272;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 11.5px 0.5px 11.5px 0;
  width: 188.5px;
  box-sizing: border-box;
}
.reserva-pista-de-padel .reservar-3 {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.35;
  color: #FFFFFF;
}
.reserva-pista-de-padel .group-11097 {
  border-radius: 1000px;
  background: #7BC0E3;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 11.5px 8.5px 11.5px 0;
  width: 188.5px;
  box-sizing: border-box;
}
.reserva-pista-de-padel .container-3 {
  margin: 0 8.5px 137px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 503.5px;
  box-sizing: border-box;
}
.reserva-pista-de-padel .group-11109 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.reserva-pista-de-padel .icon-3 {
  width: 23.8px;
  height: 40.6px;
}
.reserva-pista-de-padel .outline-brands-facebook {
  margin-top: 2.7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 23.8px;
  height: 40.6px;
  box-sizing: border-box;
}
.reserva-pista-de-padel .icon-2 {
  width: 39.3px;
  height: 39.4px;
}
.reserva-pista-de-padel .outline-brands-instagram {
  margin-bottom: 3.9px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 39.3px;
  height: 39.4px;
  box-sizing: border-box;
}
.reserva-pista-de-padel .icon {
  margin: 1px 0 3.4px 0;
  width: 44.8px;
  height: 38.9px;
}
.reserva-pista-de-padel .language-1 {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 19px;
  color: var(--black, #292525);
}
.reserva-pista-de-padel .language {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.reserva-pista-de-padel .icon-color {
  width: 14.6px;
  height: 8.3px;
}
.reserva-pista-de-padel .round-navigation-chevron-right {
  margin: 10.3px 0 6.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 14.6px;
  height: 8.3px;
  box-sizing: border-box;
}
.reserva-pista-de-padel .container-2 {
  margin: 4px 0 14.3px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 108px;
  height: fit-content;
  box-sizing: border-box;
}
.reserva-pista-de-padel .container-4 {
  position: relative;
  margin: 0 0 2.7px 676.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 660px;
  box-sizing: border-box;
}
.reserva-pista-de-padel .description {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  color: var(--black, #292525);
}
.reserva-pista-de-padel .group-11015 {
  position: relative;
  margin: 0 1065.1px 75.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.reserva-pista-de-padel .line {
  opacity: 0.6;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 32.1px;
  width: 1420px;
  height: 0.9px;
}
.reserva-pista-de-padel .paelory-2020 {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  color: var(--black, #292525);
}
.reserva-pista-de-padel .group-11014 {
  position: relative;
  margin-right: 1244.7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.reserva-pista-de-padel .image-2 {
  background: url('../assets/images/image2.png') 50% / cover no-repeat;
  position: absolute;
  left: 268px;
  top: 58px;
  width: 155px;
  height: 129px;
}
.reserva-pista-de-padel .group-11108 {
  background: #60E1CB;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0 37.5px 0;
  width: 1920px;
  box-sizing: border-box;
}
.reserva-pista-de-padel .container-1 {
  background: #E9FBF8;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2.7px;
  height: 1272.7px;
  box-sizing: border-box;
}
.reserva-pista-de-padel .mask-group {
  opacity: 0.6;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.reserva-pista-de-padel .tu-comunidad-1 {
  margin: 2px 23.5px 1px 0;
  display: inline-block;
  width: 1170.2px;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 36px;
  color: #292525;
}
.reserva-pista-de-padel .pricing-faqs-freebies-contact-2 {
  margin: 14px 11.5px 13px 0;
  width: 92.2px;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 18px;
  color: var(--secondary-1, #7BC0E3);
}
.pricing-faqs-freebies-contact-2-sub30 {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.333;
  color: #000000;
}
.reserva-pista-de-padel .our-works-1 {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
}
.reserva-pista-de-padel .group-109371 {
  border-radius: 1000px;
  background: #7BC0E3;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 11.5px 0px 11.5px 0;
  width: 188.5px;
  box-sizing: border-box;
}
.reserva-pista-de-padel .group-110401 {
  border-radius: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 292.1px;
  height: fit-content;
  box-sizing: border-box;
}
.reserva-pista-de-padel .pricing-faqs-freebies-contact {
  margin: 14.9px 0 12.1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.reserva-pista-de-padel .navbar-1 {
  background: #FFFFFF;
  position: relative;
  margin-bottom: 77px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 82.6px 30px 183.1px;
  width: 1920px;
  box-sizing: border-box;
}
.reserva-pista-de-padel .reserva-de-las-pistas-de-pdel {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 48px;
  color: #292525;
}
.reserva-pista-de-padel .group-11086 {
  position: relative;
  margin-right: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.reserva-pista-de-padel .group-70 {
  background: #60E1CB;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 41px;
  box-sizing: border-box;
}
.reserva-pista-de-padel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 480.7px;
  width: 1920px;
  box-sizing: border-box;
}
