.reserva-del-local .group-11084 {
  position: absolute;
  left: 901px;
  top: 405px;
  width: 50px;
  height: 50px;
}
.reserva-del-local .pista-de-tenis {
  position: relative;
  margin: 0 230.6px 182.1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 20px;
  color: #292525;
}
.reserva-del-local .anular-reserva {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.35;
  color: #FFFFFF;
}
.reserva-del-local .group-11098 {
  border-radius: 1000px;
  background: #E77272;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 11.5px 0.5px 11.5px 0;
  width: 188.5px;
  box-sizing: border-box;
}
.reserva-del-local .reservar {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.35;
  color: #FFFFFF;
}
.reserva-del-local .group-11097 {
  border-radius: 1000px;
  background: #7BC0E3;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 11.5px 8.5px 11.5px 0;
  width: 188.5px;
  box-sizing: border-box;
}
.reserva-del-local .container-3 {
  position: relative;
  margin: 0 8.5px 137px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 503.5px;
  box-sizing: border-box;
}
.reserva-del-local .group-11109 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.reserva-del-local .icon-2 {
  width: 23.8px;
  height: 40.6px;
}
.reserva-del-local .outline-brands-facebook {
  margin-top: 2.7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 23.8px;
  height: 40.6px;
  box-sizing: border-box;
}
.reserva-del-local .icon-1 {
  width: 39.3px;
  height: 39.4px;
}
.reserva-del-local .outline-brands-instagram {
  margin-bottom: 3.9px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 39.3px;
  height: 39.4px;
  box-sizing: border-box;
}
.reserva-del-local .icon {
  margin: 1px 0 3.4px 0;
  width: 44.8px;
  height: 38.9px;
}
.reserva-del-local .language-1 {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 19px;
  color: var(--black, #292525);
}
.reserva-del-local .language {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.reserva-del-local .icon-color {
  width: 14.6px;
  height: 8.3px;
}
.reserva-del-local .round-navigation-chevron-right {
  margin: 10.3px 0 6.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 14.6px;
  height: 8.3px;
  box-sizing: border-box;
}
.reserva-del-local .container-2 {
  margin: 4px 0 14.3px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 108px;
  height: fit-content;
  box-sizing: border-box;
}
.reserva-del-local .container-4 {
  position: relative;
  margin: 0 0 2.7px 676.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 660px;
  box-sizing: border-box;
}
.reserva-del-local .description {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  color: var(--black, #292525);
}
.reserva-del-local .group-11015 {
  position: relative;
  margin: 0 1065.1px 75.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.reserva-del-local .line {
  opacity: 0.6;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 32.1px;
  width: 1420px;
  height: 0.9px;
}
.reserva-del-local .paelory-2020 {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  color: var(--black, #292525);
}
.reserva-del-local .group-11014 {
  position: relative;
  margin-right: 1244.7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.reserva-del-local .image-2 {
  background: url('../assets/images/image2.png') 50% / cover no-repeat;
  position: absolute;
  left: 268px;
  top: 58px;
  width: 155px;
  height: 129px;
}
.reserva-del-local .group-11108 {
  background: #60E1CB;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0 37.5px 0;
  width: 1920px;
  box-sizing: border-box;
}
.reserva-del-local .rectangle-188 {
  box-shadow: 0px 97px 90px 0px rgba(7, 0, 59, 0.15);
  border-radius: 12px;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 862px;
  height: 224px;
}
.reserva-del-local .rectangle-3 {
  position: relative;
  margin-bottom: 11.8px;
  width: 862px;
  height: 7px;
}
.reserva-del-local .local {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 20px;
  color: #292525;
}
.reserva-del-local .group-11099 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3px 13.9px 0 10px;
  box-sizing: border-box;
}
.reserva-del-local .hoy {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 20px;
  color: #292525;
}
.reserva-del-local .group-11102 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3px 18.8px 0 8.6px;
  box-sizing: border-box;
}
.reserva-del-local .rectangle-1942 {
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 65px;
  height: 28.7px;
}
.reserva-del-local .filtros {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 20px;
  color: #292525;
}
.reserva-del-local .group-11103 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3px 0 0 9px;
  box-sizing: border-box;
}
.reserva-del-local .rectangle-193 {
  background: #FFFFFF;
  position: absolute;
  left: 67px;
  bottom: 2.2px;
  width: 31px;
  height: 20.8px;
}
.reserva-del-local .container-6 {
  position: relative;
  margin-bottom: 47.2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 283.4px;
  box-sizing: border-box;
}
.reserva-del-local .local-1 {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 17px;
  color: #292525;
}
.reserva-del-local .group-11100 {
  background: #FFFFFF;
  position: relative;
  margin-bottom: 12.9px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5.9px 11.5px 0.8px 10px;
  box-sizing: border-box;
}
.reserva-del-local .local-2 {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 17px;
  color: #292525;
}
.reserva-del-local .group-11101 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3px 7.9px 3.8px 10px;
  box-sizing: border-box;
}
.reserva-del-local .container-5 {
  margin: 3.1px 0 6.5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.reserva-del-local .nuevareserva-1 {
  background: url('../assets/images/nuevareserva1.png') 50% / cover no-repeat;
  width: 403px;
  height: 80px;
}
.reserva-del-local .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 839px;
  box-sizing: border-box;
}
.reserva-del-local .container-1 {
  background: url('../assets/images/reservaPadelRecottr1.png') 50% / cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1px 19px 25.2px 4px;
  width: 862px;
  box-sizing: border-box;
}
.reserva-del-local .group-11096 {
  position: absolute;
  left: 50%;
  top: 378px;
  translate: -50% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 22.8px;
  box-sizing: border-box;
}
.reserva-del-local .container-7 {
  background: #E9FBF8;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 511.9px 0 2.7px 0;
  width: 1920px;
  height: fit-content;
  box-sizing: border-box;
}
.reserva-del-local .tu-comunidad {
  margin: 2px 23.5px 1px 0;
  display: inline-block;
  width: 1170.2px;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 36px;
  color: #292525;
}
.reserva-del-local .pricing-faqs-freebies-contact-1 {
  margin: 14px 11.5px 13px 0;
  width: 92.2px;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 18px;
  color: var(--secondary-1, #7BC0E3);
}
.pricing-faqs-freebies-contact-1-sub30 {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.333;
  color: #000000;
}
.reserva-del-local .our-works {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
}
.reserva-del-local .group-10937 {
  border-radius: 1000px;
  background: #7BC0E3;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 11.5px 0px 11.5px 0;
  width: 188.5px;
  box-sizing: border-box;
}
.reserva-del-local .group-11040 {
  border-radius: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 292.1px;
  height: fit-content;
  box-sizing: border-box;
}
.reserva-del-local .navbar {
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0 30px 183.1px;
  box-sizing: border-box;
}
.reserva-del-local .mask-group {
  opacity: 0.6;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.reserva-del-local .tu-comunidad-1 {
  margin: 2px 23.5px 1px 0;
  display: inline-block;
  width: 1170.2px;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 36px;
  color: #292525;
}
.pricing-faqs-freebies-contact-2-sub30 {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.333;
  color: #000000;
}
.reserva-del-local .pricing-faqs-freebies-contact-2 {
  margin: 14px 11.5px 13px 0;
  width: 92.2px;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 18px;
  color: var(--secondary-1, #7BC0E3);
}
.reserva-del-local .our-works-1 {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
}
.reserva-del-local .group-109371 {
  border-radius: 1000px;
  background: #7BC0E3;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 11.5px 0px 11.5px 0;
  width: 188.5px;
  box-sizing: border-box;
}
.reserva-del-local .group-110401 {
  border-radius: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 292.1px;
  height: fit-content;
  box-sizing: border-box;
}
.reserva-del-local .pricing-faqs-freebies-contact {
  margin: 14.9px 0 12.1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.reserva-del-local .navbar-1 {
  background: #FFFFFF;
  position: relative;
  margin-bottom: 77px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 82.6px 30px 183.1px;
  width: 1920px;
  box-sizing: border-box;
}
.reserva-del-local .reserva-del-local-1 {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 48px;
  color: #292525;
}
.reserva-del-local .group-11086 {
  position: relative;
  margin-right: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.reserva-del-local .group-70 {
  background: #60E1CB;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 41px;
  box-sizing: border-box;
}
.reserva-del-local {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 3px;
  width: 1920px;
  box-sizing: border-box;
}
