body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.description {
    width: 45%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(56, 196, 235, 0.1);
}
.description-1 {
    width: 45%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.login-form {
    width: 45%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"], input[type="password"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #60E1CB;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #60E1CB;
}
.cabecera {
    background: #ffffff;
    position: fixed;
    top: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 102px 46px 31px 0;
    width: 100%; 
    box-sizing: border-box;
  }
  .container-2 {
    background: #60E1CB;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 18.1px 57.3px 16.1px 135.8px;
    box-sizing: border-box;
  }
  .tu-comunidad {
    margin: 1.2px 15.5px 0 0;
    display: inline-block;
    width: 807.8px;
    overflow-wrap: break-word;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #292525;
    
  }
  