body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: #E9FBF8;
}

.pagina {
  background: #E9FBF8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 170px; /* Ajuste para dejar espacio para la cabecera */
  padding-bottom: 50px; /* Ajuste para evitar que el contenido se superponga con el pie de página */
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  margin-bottom: -50px;
}

.container-6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 65px; /* Espacio con la cebecera */
  justify-content: center;
}

.elemento {
  position: relative;
  margin-right: 50px; /* Incrementar el margen derecho para hacer más ancho el elemento */
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px; /* Espacio entre los elementos */
  align-self: flex-start; /* Alinea cada elemento al inicio de su propia columna */
  background-color: #FFFFFF;
  border-radius: 10px; /* Bordes redondeados */
  
  height: 250px; /* Alto mayor */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */

  width: calc(33.333% - 40px);

  margin: 20px; /* Espacio uniforme alrededor de los elementos */
  padding-bottom: 10px; 

}


.elemento img {
  width: 100%; /* Hacer que la imagen llene el ancho del elemento */
  height: 200px; /* Ajustar la altura automáticamente */
  border-radius: 10px 10px 0 0; /* Redondear solo las esquinas superiores */
  object-fit: cover;
}

/* Mejoras visuales */
.elemento:hover {
  transform: translateY(-5px); /* Eleva el elemento al pasar el cursor */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada para resaltar */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave para el efecto */
}

.leer-mas a {
  text-decoration: none; /* Quitar el subrayado de los enlaces */
  color: #007bff; /* Un color más vivo para el enlace */
  font-weight: bold; /* Hacer el texto más destacado */
  font-size: 14px;
}

.leer-mas a:hover {
  text-decoration: underline; /* Subrayar al pasar el cursor */
}

/* Responsive Design: Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
  .container-6 {
    flex-direction: column; /* Cambiar a una columna para pantallas pequeñas */
  }

  .elemento {
    width: 90%; /* Ajustar el ancho para pantallas más pequeñas */
    margin: 20px auto; /* Centrar elementos en la pantalla */
  }
}


.borde-azul {
  position: absolute; /* Posicionamiento absoluto */
  top: 0; /* Se coloca en la parte superior de su contenedor */
  left: 0; /* Se coloca en el borde izquierdo de su contenedor */
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: 5px; /* Altura más fina */
  background-color: #60E1CB; /* Color específico */
  border-top-left-radius: 10px; /* Bordes redondeados */
  border-top-right-radius: 10px; /* Bordes redondeados */


}

.local {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 10.8px;
  box-sizing: border-box;
  margin-bottom: 20px; /* Espacio entre los elementos */
  align-self: flex-start; /* Alinea cada elemento al inicio de su propia columna */
}

.elipse-icono {
  position: absolute; /* Cambiar a posición absoluta */
  bottom: 105px; /* Ajustar la posición vertical */
  left: 50%; /* Centrar horizontalmente */
  transform: translateX(-50%); /* Ajustar para centrar horizontalmente */
  width: 71.1px;
  height: 63.5px;
}
.circulo {
  position: absolute; /* Cambiar a posición absoluta */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(96, 225, 203, 0.5); /* Color con poca opacidad */
  border-radius: 50%; /* Para hacerlo circular */
}

.icono {
  position: absolute; /* Cambiar a posición absoluta */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrar vertical y horizontalmente */
  z-index: 2; /* Asegurar que esté por delante del círculo */
}

.imagen {
  max-height: 170px; /* ajusta la altura máxima según tus necesidades */
  position: absolute; /* posición absoluta para ajustar dentro de la elipse-icono */
  top: 5px; /* coloca la imagen en la parte superior */
  left: 50%; /* centra horizontalmente */
  transform: translateX(-50%); /* ajusta la posición horizontal */

  max-width: 100%; /* La imagen usa el máximo ancho disponible */
  height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
  border-radius: 10px 10px 0 0;
}


.flecha-reservar {
    margin-left: 0px; /* Espacio entre el texto y la flecha */
    width: 30px; /* Ancho mayor de la flecha */
    height: auto; /* Altura ajustable para mantener la proporción */
    fill: var(--secondary, #7BC0E3); 
  }
  
.titulo {
  font-size: 20px;
  position: relative;
  margin: 120px 23px 13px 23px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #292525;


}

.titulo a {
  font-weight: bold; /* Hacer los títulos más destacados */
  color: #333; /* Un color oscuro para mayor contraste */
  text-decoration: none; /* Quitar el subrayado de los enlaces */

  font-size: 18px; /* Tamaño de letra menor para los títulos */
  margin: 0; /* Remover márgenes adicionales */
  display: block; /* Asegura que el título sea un bloque para controlar mejor el espacio */
  white-space: nowrap; /* Evita que el texto del título se salga del contenedor */
  overflow: hidden; /* Oculta el texto que se desborde del contenedor */
  text-overflow: ellipsis; 

  
}

.descripcion {
  color: #555; /* Un color un poco más oscuro para la descripción */
  font-size: 14px; /* Tamaño de letra más pequeño para la descripción */
  margin-top: 5px; /* Menor espacio encima de la descripción */
  line-height: 1.4; /* Espacio entre líneas para mejorar legibilidad */
  height: 3.8em; /* Limita la altura del texto de la descripción para evitar desbordamiento */
  overflow: hidden; /* Oculta el texto que se desborde del contenedor */
  text-overflow: ellipsis; 
}

.reservar-1 {
  margin-right: 9.2px;
  overflow-wrap: break-word;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: var(--secondary, #7BC0E3);
}

.reservar {
  position: relative;
  margin: 0 23px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}


.contenido {
  margin-bottom: 70px; /* Ajusta el espacio entre el texto y los botones "Leer más" */
}




/* CABECERA */

.reserva-de-zonas {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #292525;
}
.tu-comunidad {
  margin: 1.2px 15.5px 0 0;
  display: inline-block;
  width: 807.8px;
  overflow-wrap: break-word;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}
.home {
  margin: 4.7px 0 4.5px 0;
  overflow-wrap: break-word;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--secondary, #60E1CB);
}
.home-sub30 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.333;
  color: #000000;
}
.our-works {
  overflow-wrap: break-word;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
}
.log-out {
  border-radius: 1000px;
  background: #60E1CB;
  position: relative;
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.6px 0px 1.6px 0;
  width: 134.1px;
  height: fit-content;
  box-sizing: border-box;
}
.usuario {
  margin: 5.7px 0 3.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.cabecera {
  background: #60E1CB;
  position: fixed;
  top: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 102px 46px 31px 0;
  width: 100%; 
  box-sizing: border-box;
}
.container {
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18.1px 57.3px 16.1px 135.8px;
  box-sizing: border-box;
}

/* PIE DE PÁGINA */
.image-2 {
  background: url('../images/image2.png') 50% / cover no-repeat;
  width: 110.3px;
  height: 76px;
  margin-bottom: 10px;
}
.icon-1 {
  margin-bottom: 0.3px;
  width: 29px;
  height: 23px;
}
.icon-2 {
  margin-top: 0.6px;
  width: 32px;
  height: 23px;
}
.icon-3 {
  margin-top: 0.6px;
  width: 35px;
  height: 23px;
}
.container-4 {
  margin: 21px 0 31.5px 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  height: fit-content;
  box-sizing: border-box;
}

.icon-color {
  margin: 10px 0 10.1px 0;
  width: 10.4px;
  height: 4.9px;
}
.idioma {
  margin: 23.3px 0 10.8px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.language {
  margin-right: 7.6px;
  overflow-wrap: break-word;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 19px;
  color: var(--black, #292525);
}
.container-5 {
  margin: 0 15.7px -20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 975.4px;
  box-sizing: border-box;
}
.description {
  margin: 0 750px 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 2.308;
  color: var(--black, #292525);
}
.line {
  opacity: 0.6;
  background: #FFFFFF;
  margin-bottom: 16.2px;
  width: 1010.3px;
  height: 0.5px;
}
.tucom {
  margin-right: 842.9px;
  overflow-wrap: break-word;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: var(--black, #292525);
}
.pie-de-pagina {
  position: fixed;
  bottom: 0;
  background: #60E1CB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  padding: 10px; 
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-top: 0;

}
