<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Editar Noticias</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="../static/css/editar.css" />
    <style>
        .titulo {
            font-size: larger;
            pointer-events: none;
        }

        .descripcion {
            font-size: 14px;
            color: #333;
        }

        .elemento {
            width: 90%;
            margin: 0 auto;
            padding: 30px;
            background-color: #f7f7f7;
            border: 2px solid #ccc;
            border-radius: 20px;
            height: auto;
            text-align: center;
            position: relative;
        }

        .imagen {
            width: auto;
            height: auto;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .contenido {
            margin-top: 20px;
        }

        .editar,
        .eliminar,.editarimagen {
            background-color: green;
            color: white;
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
            display: inline-block;
        }

        .eliminar {
            background-color: red;
        }

        .descripcion-editable {
            border: 1px solid #ccc;
            padding: 5px;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <!-- CABECERA -->
    <div class="cabecera">
        <span class="reserva-de-zonas">
            Editar noticia
        </span>
        <div class="container">
            <div class="tu-comunidad">
                TuComunidad
            </div>
            <p class="home">
                <a href="/comunidad?idvecino=123&idnoticia=456" style="text-decoration: none;">
                    <span class="home-sub-30">Home</span>
                    <span></span>
                </a>
            </p>
            <div class="log-out">
                <span class="our-works">
                    <a href="/?idvecino=123&idnoticia=456" style="text-decoration: none;">Log out</a>
                </span>
            </div>
            <div class="usuario">
                Gestor de comunidad
            </div>
        </div>
    </div>

    <div class="pagina">
        <div class="container-6">
            <!-- NOTICIA SELECCIONADA -->
            <form id="editarNoticiaForm" enctype="multipart/form-data">
                <div class="elemento" id="noticia">
                    <!-- Aquí se insertará la noticia -->
                </div>
                <input type="file" name="imagen" id="imagen" accept="image/*" style="display: none;">
                <label for="imagen" class="editarimagen">Editar imagen</label>
                <button type="button" class="editar">Guardar cambios</button>
                <button type="button" class="eliminar">Cancelar</button>

                <!-- Campos ocultos para ID de vecino y noticia -->
                <input type="hidden" name="idvecino" id="idvecino">
                <input type="hidden" name="idnoticia" id="idnoticia">
                <input type="hidden" name="fecha" id="fecha">
                <input type="hidden" name="idcomunidad" id="idcomunidad">
            </form>
        </div>
    </div>

    <!-- PIE DE PAGINA -->
    <div class="pie-de-pagina">
        <div class="container-5">
            <div class="image-2"></div>
            <div class="container-4">
                <img class="icon-1" src="../static/vectors/intagram.svg" />
                <img class="icon-2" src="../static/vectors/facebook.svg" />
                <img class="icon-3" src="../static/vectors/twitter.svg" />
            </div>
            <div class="idioma">
                <span class="language">
                    Idioma
                </span>
                <img class="icon-color" src="../static/vectors/flecha.svg" />
            </div>
        </div>
        <div class="description">
            Facilitamos la convivencia en tu comunidad
        </div>
        <div class="line"></div>
        <span class="tucom">
            ©TuComunidad 2024
        </span>
    </div>
    <script>
        async function base64ToBlobUrl(base64) {
            try {
                var base64WithoutPrefix = base64.replace(/^data:image\/(png|jpeg);base64,/, '');
                var byteString = atob(base64WithoutPrefix);
                var ab = new ArrayBuffer(byteString.length);
                var ia = new Uint8Array(ab);
                for (var i = 0; i < byteString.length; i++) {
                    ia[i] = byteString.charCodeAt(i);
                }
                var type = base64.match(/^data:image\/(png|jpeg);base64,/);
                var mimeType = type ? `image/${type[1]}` : 'image/png';
                var blob = new Blob([ab], {
                    type: mimeType
                });
                return URL.createObjectURL(blob);
            } catch (error) {
                console.error('Error al convertir la imagen base64:', error);
                return null;
            }
        }

        function getCurrentDate() {
            const today = new Date();
            const year = today.getFullYear();
            const month = String(today.getMonth() + 1).padStart(2, '0');
            const day = String(today.getDate()).padStart(2, '0');
            return `${year}-${month}-${day}`;
        }

        window.onload = async function () {
            const urlParams = new URLSearchParams(window.location.search);
            const idnoticia = urlParams.get('idnoticia');
            const idvecino = urlParams.get('idvecino');

            fetch(`/idnoticiapornoticia?idnoticia=${idnoticia}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('La red no ha respondido correctamente');
                    }
                    return response.json();
                })
                .then(async data => {
                    const elementoNoticia = document.getElementById('noticia');
                    const titulo = document.createElement('input');
                    titulo.classList.add('titulo');
                    titulo.setAttribute('name', 'titulo');
                    titulo.setAttribute('contenteditable','true')
                    titulo.setAttribute('value', data.titulo);
                    
                    const descripcion = document.createElement('textarea');
                    descripcion.classList.add('descripcion');
                    descripcion.setAttribute('name', 'descripcion');
                    descripcion.textContent = data.descripcion;
                    const textocompleto = document.createElement('textarea');
                    textocompleto.classList.add('textocompleto');
                    textocompleto.setAttribute('name', 'textocompleto');
                    textocompleto.textContent = data.textocompleto;
                    const imagenUrl = await base64ToBlobUrl(data.foto);
                    const imagen = document.createElement('img');
                    imagen.classList.add('imagen');
                    imagen.src = imagenUrl;

                    elementoNoticia.appendChild(titulo);
                    elementoNoticia.appendChild(descripcion);
                    elementoNoticia.appendChild(textocompleto);
                    elementoNoticia.appendChild(imagen);

                    // Obtener y agregar el ID de la comunidad al campo oculto
                    fetch(`http://localhost:8080/vecino/comunidad?idVecino=${idvecino}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('No se pudo obtener la información del vecino');
                            }
                            return response.json();
                        })
                        .then(data => {
                            var idComunidad = data.idcomunidad;
                            document.getElementById('idcomunidad').value = idComunidad;
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });

                    // Actualizar los campos ocultos con los IDs y la fecha
                    document.getElementById('idvecino').value = idvecino;
                    document.getElementById('idnoticia').value = idnoticia;
                    document.getElementById('fecha').value = getCurrentDate();
                })
                .catch(error => {
                    console.error('Error:', error);
                });

            document.getElementById('imagen').addEventListener('input', async function () {
                const file = this.files[0];
                const reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function () {
                    const base64 = reader.result;
                    const imagen = document.querySelector('.imagen');
                    imagen.src = base64;
                };
            });
            const guardar = document.querySelector('.editar');
            guardar.addEventListener('click', async () => {
                const titulo = document.querySelector('.titulo').value;
                const descripcion = document.querySelector('.descripcion').value;
                const textocompleto = document.querySelector('.textocompleto').value;
                const idcomunidad = document.getElementById('idcomunidad').value;
                const idvecino = document.getElementById('idvecino').value;
                const fecha = document.getElementById('fecha').value;
                const idinformacion = document.getElementById('idnoticia').value;
            
                const formData = new FormData();
                formData.append('titulo', titulo);
                formData.append('descripcion', descripcion);
                formData.append('textocompleto', textocompleto);
                formData.append('idcomunidad', idcomunidad);
                formData.append('idvecino', idvecino);
                formData.append('fecha', fecha);
                formData.append('idinformacion', idinformacion);
            
                const imagenInput = document.getElementById('imagen').files[0];
                if (imagenInput) {
                    formData.append('imagen', imagenInput);
                }
            
                try {
                    const response = await fetch('/editarinformacion', {
                        method: 'PUT',
                        body: formData
                    });
            
                    if (response.ok) {
                        const message = await response.text();
                        alert(message); // Mostrar mensaje de éxito
                        // Redireccionar o hacer alguna acción adicional si es necesario
                        window.location.href = `/vernoticia?idvecino=${idvecino}&idinformacion=${idnoticia}`;
                    } else {
                        throw new Error('Error editar noticia');
                    }
                } catch (error) {
                    console.error(error);
                    alert('Error al editar noticia');
                }
            });
            
     

            document.querySelector('.eliminar').addEventListener('click', function () {
                window.location.href = `/vernoticia?idvecino=${idvecino}&idinformacion=${idnoticia}`;
            });
            var homeLink = document.querySelector('.home a');
             homeLink.href = `/menucomunidad?idvecino=${idvecino}`;
        }
    </script>


</body>

</html>
