<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Reserva</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="../static/css/ejemplo.css" />
</head>

<body>
  <!--CABECERA-->
  <div class="cabecera">
    <span class="reserva-de-zonas">
      Reserva de zonas
    </span>
    <div class="container">
      <div class="tu-comunidad">
        TuComunidad
      </div>
      <p class="home">
        <span class="home-sub-30">Home</span><span></span>
      </p>
      <div class="log-out">
        <span class="our-works">
          Log Out
        </span>
      </div>
      <div class="usuario">
        Vecino
      </div>
    </div>
  </div>

  <div class="pagina">
    <div class="container-6">

      <!--PADEL-->
      <div class="elemento">
        <div class="borde-azul"></div>
        <div class="elipse-icono">
          <div class="circulo"></div>
          <img class="icono" src="../static/vectors/pelotapadel.svg" />
        </div>
        <div class="titulo">
          Pista de padel
        </div>
        <div class="reservar">
          <span class="reservar-1">
            Reservar
          </span>
          <img class="flecha-reservar" src="../static/vectors/flecha-reservar.svg" />
        </div>
      </div>

      <!--LOCAL-->
      <div class="elemento">
        <div class="borde-azul"></div>
        <div class="elipse-icono">
          <div class="circulo"></div>
          <img class="icono" src="../static/vectors/casa.svg" />
        </div>
        <div class="titulo">
          Local
        </div>
        <div class="reservar">
          <span class="reservar-1">
            Reservar
          </span>
          <img class="flecha-reservar" src="../static/vectors/flecha-reservar.svg" />
        </div>
      </div>

      
    </div>
  </div>


  <!--PIE DE PAGINA-->
  <div class="pie-de-pagina">
    <div class="container-5">
      <div class="image-2">
      </div>
      <div class="container-4">
        <img class="icon-1" src="../static/vectors/intagram.svg" />
        <img class="icon-2" src="../static/vectors/facebook.svg" />
        <img class="icon-3" src="../static/vectors/twitter.svg" />
      </div>
      <div class="idioma">
        <span class="language">
          Idioma
        </span>
        <img class="icon-color" src="../static/vectors/flecha.svg" />
      </div>
    </div>
    <div class="description">
      Facilitamos la convivencia en tu comunidad
    </div>
    <div class="line">
    </div>
    <span class="tucom">
      ©TuComunidad 2024
    </span>
  </div>
</body>

</html>