 <!-- Caja 1 -->
 <div class="elemento">
    <div class="borde-azul"></div>
    <div class="elipse-icono">
      <div class="circulo"></div>
      <img class="icono" src="../static/images/person.jpg" /> <!-- Icono de persona -->
    </div>
    <div class="contenido">
      <div class="titulo">
        <span>María López</span> <!-- Nombre y Apellido -->
      </div>

      <div class="reservar">
        <button class="btn-otorgar" onclick="otorgarPermisos()">Otorgar permisos</button> <!-- Botón otorgar permisos -->
        <button class="btn-eliminar" onclick="eliminar()">Eliminar</button> <!-- Botón eliminar -->
      </div>
    </div>
  </div>

  <!-- Caja 2 -->
  <div class="elemento">
    <div class="borde-azul"></div>
    <div class="elipse-icono">
      <div class="circulo"></div>
      <img class="icono" src="../static/images/person.jpg" /> <!-- Icono de persona -->
    </div>
    <div class="contenido">
      <div class="titulo">
        <span>Juan García</span> <!-- Nombre y Apellido -->
      </div>

      <div class="reservar">
        <button class="btn-otorgar" onclick="otorgarPermisos()">Otorgar permisos</button> <!-- Botón otorgar permisos -->
        <button class="btn-eliminar" onclick="eliminar()">Eliminar</button> <!-- Botón eliminar -->
      </div>
    </div>
  </div>

  <!-- Caja 3 -->
  <div class="elemento">
    <div class="borde-azul"></div>
    <div class="elipse-icono">
      <div class="circulo"></div>
      <img class="icono" src="../static/images/person.jpg" /> <!-- Icono de persona -->
    </div>
    <div class="contenido">
      <div class="titulo">
        <span>Luisa Martínez</span> <!-- Nombre y Apellido -->
      </div>

      <div class="reservar">
        <button class="btn-otorgar" onclick="otorgarPermisos()">Otorgar permisos</button> <!-- Botón otorgar permisos -->
        <button class="btn-eliminar" onclick="eliminar()">Eliminar</button> <!-- Botón eliminar -->
      </div>
    </div>
  </div>

  <!-- Caja 4 -->
  <div class="elemento">
    <div class="borde-azul"></div>
    <div class="elipse-icono">
      <div class="circulo"></div>
      <img class="icono" src="../static/images/person.jpg" /> <!-- Icono de persona -->
    </div>
    <div class="contenido">
      <div class="titulo">
        <span>Luis Sanz</span> <!-- Nombre y Apellido -->
      </div>

      <div class="reservar">
        <button class="btn-otorgar" onclick="otorgarPermisos()">Otorgar permisos</button> <!-- Botón otorgar permisos -->
        <button class="btn-eliminar" onclick="eliminar()">Eliminar</button> <!-- Botón eliminar -->
      </div>
    </div>
  </div>

  <!-- Caja 5 -->
  <div class="elemento">
    <div class="borde-azul"></div>
    <div class="elipse-icono">
      <div class="circulo"></div>
      <img class="icono" src="../static/images/person.jpg" /> <!-- Icono de persona -->
    </div>
    <div class="contenido">
      <div class="titulo">
        <span>Paula Marín</span> <!-- Nombre y Apellido -->
      </div>

      <div class="reservar">
        <button class="btn-otorgar" onclick="otorgarPermisos()">Otorgar permisos</button> <!-- Botón otorgar permisos -->
        <button class="btn-eliminar" onclick="eliminar()">Eliminar</button> <!-- Botón eliminar -->
      </div>
    </div>
  </div>

  <!-- Caja 6 -->
  <div class="elemento">
    <div class="borde-azul"></div>
    <div class="elipse-icono">
      <div class="circulo"></div>
      <img class="icono" src="../static/images/person.jpg" /> <!-- Icono de persona -->
    </div>
    <div class="contenido">
      <div class="titulo">
        <span>Leyre González</span> <!-- Nombre y Apellido -->
      </div>

      <div class="reservar">
        <button class="btn-otorgar" onclick="otorgarPermisos()">Otorgar permisos</button> <!-- Botón otorgar permisos -->
        <button class="btn-eliminar" onclick="eliminar()">Eliminar</button> <!-- Botón eliminar -->
      </div>
    </div>
  </div>

  <!-- Caja 7 -->
  <div class="elemento">
    <div class="borde-azul"></div>
    <div class="elipse-icono">
      <div class="circulo"></div>
      <img class="icono" src="../static/images/person.jpg" /> <!-- Icono de persona -->
    </div>
    <div class="contenido">
      <div class="titulo">
        <span>Carlos Gómez</span> <!-- Nombre y Apellido -->
      </div>

      <div class="reservar">
        <button class="btn-otorgar" onclick="otorgarPermisos()">Otorgar permisos</button> <!-- Botón otorgar permisos -->
        <button class="btn-eliminar" onclick="eliminar()">Eliminar</button> <!-- Botón eliminar -->
      </div>
    </div>
  </div>

  <!-- Caja 8 -->
  <div class="elemento">
    <div class="borde-azul"></div>
    <div class="elipse-icono">
      <div class="circulo"></div>
      <img class="icono" src="../static/images/person.jpg" /> <!-- Icono de persona -->
    </div>
    <div class="contenido">
      <div class="titulo">
        <span>Juan Cano</span> <!-- Nombre y Apellido -->
      </div>

      <div class="reservar">
        <button class="btn-otorgar" onclick="otorgarPermisos()">Otorgar permisos</button> <!-- Botón otorgar permisos -->
        <button class="btn-eliminar" onclick="eliminar()">Eliminar</button> <!-- Botón eliminar -->
      </div>
    </div>
  </div>

  <!-- Caja 9 -->
  <div class="elemento">
    <div class="borde-azul"></div>
    <div class="elipse-icono">
      <div class="circulo"></div>
      <img class="icono" src="../static/images/person.jpg" /> <!-- Icono de persona -->
    </div>
    <div class="contenido">
      <div class="titulo">
        <span>Ramón Fernández</span> <!-- Nombre y Apellido -->
      </div>

      <div class="reservar">
        <button class="btn-otorgar" onclick="otorgarPermisos()">Otorgar permisos</button> <!-- Botón otorgar permisos -->
        <button class="btn-eliminar" onclick="eliminar()">Eliminar</button> <!-- Botón eliminar -->
      </div>
    </div>
  </div>
