<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Gestion de Roles</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="../static/css/gestion.css" />
  <style>
    /* Estilos para los botones */
    .btn-otorgar {
      font-size: small;
      padding: 3px 8px;
      border-radius: 3px;
      background-color: green; /* Color de fondo verde para el botón de otorgar permisos */
      color: white; /* Texto en color blanco para mejor contraste */
      border: none; /* Quitamos el borde para un aspecto más limpio */
    }

    .btn-eliminar {
      font-size: small;
      padding: 3px 8px;
      border-radius: 3px;
      background-color: red; /* Color de fondo rojo para el botón de eliminar */
      color: white; /* Texto en color blanco para mejor contraste */
      border: none; /* Quitamos el borde para un aspecto más limpio */
    }

    /* Estilos para el título "Vecinos" */
    .titulo-vecinos {
      text-align: center;
      font-size: large;
      margin-bottom: 10px;
    }
  </style>
</head>

<body>
  <!-- CABECERA -->
  <div class="cabecera">
    <span class="reserva-de-zonas">
      Gestión de roles
      <h2 class="titulo-vecinos">Vecinos</h2>
    </span>
    
    <div class="container">
      <div class="tu-comunidad">
        TuComunidad
      </div>
      <p class="home">
        <a id="home-link" href="#" style="text-decoration: none;">
          <span class="home-sub-30">Home</span>
          <span></span>
        </a>
      </p>
      <div class="log-out">
        <span class="our-works">
          <a href="/" style="text-decoration: none;">Log out</a>
        </span>
      </div>
      <div class="usuario">
        Gestor de comunidad
      </div>
    </div>
  </div>

  <div class="pagina">
    
    <div class="container-6">

    </div>

    <!--FALTA TERMINARLO-->
   
  </div>

  <!-- PIE DE PAGINA -->
  <div class="pie-de-pagina">
    <div class="caja-clave">
      Para agregar un nuevo vecino, comparte el id de la comunidad con él. <strong>Id comunidad: </strong><span id="idComunidad"></span>
    </div>

    <div class="container-5">
      <div class="image-2"></div>
      <div class="container-4">
        <img class="icon-1" src="../static/vectors/intagram.svg" />
        <img class="icon-2" src="../static/vectors/facebook.svg" />
        <img class="icon-3" src="../static/vectors/twitter.svg" />
      </div>
      <div class="idioma">
        <span class="language">
          Idioma
        </span>
        <img class="icon-color" src="../static/vectors/flecha.svg" />
      </div>
    </div>
    <div class="description">
      Facilitamos la convivencia en tu comunidad
    </div>
    <div class="line"></div>
    <span class="tucom">
      ©TuComunidad 2024
    </span>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Función para obtener parámetros de la URL
      function getQueryParam(param) {
        var searchParams = new URLSearchParams(window.location.search);
        return searchParams.get(param);
      }

      window.onload = function () {
        // Obtener el ID del vecino de la URL
        var idVecino = getQueryParam('idvecino'); // Obtiene el ID de la URL
        if (idVecino) {
          // Hacer una solicitud al servidor para obtener la lista de vecinos de la comunidad del gestor
          fetch(`http://localhost:8080/listadevecinosporgestor?idvecino=${idVecino}`)
            .then(response => {
              if (!response.ok) {
                throw new Error('No se pudo obtener la lista de vecinos');
              }
              return response.json();
            })
            .then(vecinos => {
              // Mostrar los vecinos en la página
              var container = document.querySelector('.container-6');
              vecinos.forEach(vecino => {
                if (vecino.idvecino !== parseInt(idVecino)) { // Verificar si el ID del vecino actual es diferente al ID recibido por parámetro
                  var elemento = document.createElement('div');
                  elemento.classList.add('elemento');
                  elemento.innerHTML = `
                <div class="borde-azul"></div>
                <div class="elipse-icono">
                  <div class="circulo"></div>
                  <img class="icono" src="../static/images/person.jpg" /> <!-- Icono de persona -->
                </div>
                <div class="contenido">
                  <div class="titulo">
                    <span>${vecino.nombre}</span> <!-- Nombre y Apellido del vecino -->
                  </div>
                  <div class="reservar">
                    ${vecino.gestor ? '' : '<button class="btn-otorgar" onclick="otorgarPermisos('+ idVecino +', '+ vecino.idvecino +')">Otorgar permisos</button>'} <!-- Botón otorgar permisos -->
                    <button class="btn-eliminar" id="eliminar-${vecino.idvecino}" onclick="eliminar(${idVecino}, ${vecino.idvecino})">Eliminar</button> <!-- Botón eliminar -->
                  </div>
                </div>`;
                  container.appendChild(elemento);
                }
              });
            })
            .catch(error => {
              console.error('Error:', error);
            });

          fetch(`http://localhost:8080/idcomunidadporvecino?idvecino=${idVecino}`)
            .then(response => {
              if (!response.ok) {
                throw new Error('fallo al obtener la comunidad');
              }
              return response.json();
            })
            .then(data => {
              document.getElementById('idComunidad').textContent = data
            })
            .catch(error => {
              console.error('Error:', error);
            });

          // Actualizar el enlace Home con el ID del vecino
          document.getElementById('home-link').setAttribute('href', `/menucomunidad?idvecino=${idVecino}`);
        }
      }
    });

    function otorgarPermisos(idGestor, idVecino) {
      // Realizar la solicitud POST al endpoint /otorgarpermisos con los IDs correspondientes
      fetch('http://localhost:8080/otorgarpermisos', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: `idgestor=${idGestor}&idvecino=${idVecino}`
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('No se pudo otorgar permisos');
        }
        return response.json();
      })
      .then(data => {
        console.log(data);
        location.reload();
      })
      .catch(error => {
        console.error('Error:', error);
      });
    }

    function eliminar(idGestor, idVecino) {
      // Realizar la solicitud POST al endpoint /eliminarvecino con los IDs correspondientes
      fetch('http://localhost:8080/eliminarvecino', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: `idgestor=${idGestor}&idvecino=${idVecino}`
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('No se pudo eliminar el vecino');
        }
        return response.json();
      })
      .then(data => {
        console.log(data);
        location.reload();
      })
      .catch(error => {
        console.error('Error:', error);
      });
    }
  </script>
</body>

</html>
