<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Comunidad Etsit</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="../static/css/noticias.css" />
  <style>
    .titulo a {
      font-size: x-small; /* Tamaño de letra más pequeño para el título de la noticia */
    }

    .descripcion {
      font-size: 10px; /* Tamaño de letra más pequeño para la descripción de la noticia */
      color: #666; /* Color de letra más claro para la descripción */
    }
  </style>
</head>

<body>
  <!-- CABECERA -->
  <div class="cabecera">
    <span class="reserva-de-zonas">
      Noticias
    </span>
    <div class="container">
      <div class="tu-comunidad">
        TuComunidad
      </div>
      <p class="home">
        <a href="/menucomunidad" style="text-decoration: none;">
          <span class="home-sub-30">Home</span>
          <span></span>
        </a>
      </p>
      <div class="log-out">
        <span class="our-works">
          <a href="/" style="text-decoration: none;">Log out</a>
        </span>
      </div>
      <div class="usuario">
        Gestor de comunidad
      </div>
    </div>
  </div>

  <div class="pagina">
    <div class="container-6">
    
      <div class="container-6" id="noticias-container"></div>

      <div class="elemento">
        <div class="borde-azul"></div>
        <div class="elipse-icono">
          <div class="circulo"></div>
          <img class="icono" src="../static/vectors/intagram.svg" />
        </div>
        <div class="contenido">
          <div class="titulo">
            Añadir noticia
          </div>
          <div class="descripcion">
            Añade una noticia al portal de la comunidad
          </div>
          <div class="reservar" id="anadir-noticia">
            <span class="reservar-1"  >
              Añadir
            </span>
            <img class="flecha-reservar" src="../static/vectors/flecha-reservar.svg" />
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- PIE DE PAGINA -->
  <div class="pie-de-pagina">
    <div class="container-5">
      <div class="image-2"></div>
      <div class="container-4">
        <img class="icon-1" src="../static/vectors/intagram.svg" />
        <img class="icon-2" src="../static/vectors/facebook.svg" />
        <img class="icon-3" src="../static/vectors/twitter.svg" />
      </div>
      <div class="idioma">
        <span class="language">
          Idioma
        </span>
        <img class="icon-color" src="../static/vectors/flecha.svg" />
      </div>
    </div>
    <div class="description">
      Facilitamos la convivencia en tu comunidad
    </div>
    <div class="line"></div>
    <span class="tucom">
      ©TuComunidad 2024
    </span>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Esta función obtiene parámetros de la URL
      function getQueryParam(param) {
        var searchParams = new URLSearchParams(window.location.search);
        return searchParams.get(param);
      }

      // Obtener el ID del vecino de la URL
      var idvecino = getQueryParam('idvecino');

      // Obtener el enlace "Home"
      var homeLink = document.querySelector('.home a');

      // Agregar un evento de clic al enlace "Home"
      homeLink.addEventListener('click', function(event) {
        // Evitar el comportamiento predeterminado del enlace
        event.preventDefault();
        
        // Construir la URL de destino con el ID del vecino
        var destinationURL = '/menucomunidad?idvecino=' + idvecino;
        
        // Redirigir al usuario a la página de destino
        window.location.href = destinationURL;
      });

      // Función para renderizar las noticias en el HTML
      function renderizarNoticias(noticias) {
        var noticiasContainer = document.getElementById('noticias-container');
        noticiasContainer.innerHTML = ''; // Limpiar el contenedor antes de agregar nuevas noticias
      
        // Verificar si noticias es un array
        if (Array.isArray(noticias)) {
          noticias.forEach(noticia => {
            if (noticia.foto) {
              // Convertir la imagen base64 a JPEG
              const base64String = noticia.foto.split(',')[1];
              base64ToJPEG(base64String, function (jpegDataURL) {
                // Crear el elemento de noticia con la imagen convertida a JPEG
                var elementoNoticia = `
                  <div class="elemento">
                    <div class="borde-azul"></div>
                    <img class="imagen" src="${jpegDataURL}" alt="${noticia.titulo}" />
                    <div class="contenido">
                      <h2 class="titulo">
                        <a href="#">${noticia.titulo}</a>
                      </h2>
                      <p class="descripcion">
                        ${noticia.descripcion}
                      </p>
                      <div class="leer-mas">
                        <a href="#" class="reservar-1">Leer más</a>
                      </div>
                    </div>
                  </div>
                `;
                noticiasContainer.innerHTML += elementoNoticia;
              });
            }
          });
        } else {
          console.error('Error: La respuesta no es un array de noticias');
        }
      }
      
      function base64ToJPEG(base64String, callback) {
        // Convertir la cadena base64 en un array de bytes
        const byteCharacters = atob(base64String);
        const byteNumbers = new Array(byteCharacters.length);
        for (let i = 0; i < byteCharacters.length; i++) {
          byteNumbers[i] = byteCharacters.charCodeAt(i);
        }
        const byteArray = new Uint8Array(byteNumbers);
      
        // Crear un objeto Blob con los bytes de la imagen
        const blob = new Blob([byteArray], { type: 'image/jpeg' });
      
        // Crear un objeto FileReader para leer el Blob
        const reader = new FileReader();
        reader.readAsDataURL(blob);
      
        // Utilizar el FileReader para convertir el Blob en un objeto Image
        reader.onloadend = function () {
          const img = new Image();
          img.src = reader.result;
      
          // Utilizar un elemento canvas para convertir la imagen en formato JPEG
          const canvas = document.createElement('canvas');
          canvas.width = img.width;
          canvas.height = img.height;
          const ctx = canvas.getContext('2d');
          ctx.drawImage(img, 0, 0);
          const jpegDataURL = canvas.toDataURL('image/jpeg');
      
          // Llamar a la función de devolución de llamada con la URL de la imagen JPEG
          callback(jpegDataURL);
        };
      }
      
  
      // Esta función carga las noticias de la comunidad del usuario logueado
      function cargarNoticias() {
        var idVecino = getQueryParam('idvecino'); // Obtiene el ID del vecino de la URL
        if (!idVecino) {
          console.error('ID de vecino no proporcionado');
          return;
        }
  
        fetch(`http://localhost:8080/vecinoporid?idvecino=${idVecino}`)
          .then(response => {
            if (!response.ok) {
              throw new Error('No se pudo obtener la información del vecino');
            }
            return response.json();
          })
          .then(data => {
            var gestor = data.gestor; // Obtener el parámetro gestor
            var usuarioDiv = document.querySelector('.usuario'); // Selección del div de usuario
            if (gestor) {
              usuarioDiv.textContent = 'Gestor de comunidad'; // Cambiar el texto a "Gestor"
            } else {
              usuarioDiv.textContent = 'Vecino'; // Cambiar el texto a "Vecino"
            }
          })
          .catch(error => console.error('Error al obtener información del vecino:', error));
  
        // Obtener la comunidad del vecino
        fetch(`http://localhost:8080/vecino/comunidad?idVecino=${idVecino}`)
          .then(response => response.json())
          .then(data => {
            // Asumiendo que el endpoint devuelve un objeto con idComunidad
            var idcomunidad = data.idcomunidad;
            // Obtener noticias por comunidad
            fetch(`/obtenerinfoporcomunidad?idcomunidad=${idcomunidad}`)
              .then(response => {
                if (!response.ok) {
                  throw new Error('Error al obtener las noticias de la comunidad');
                }
                return response.json();
              })
              .then(noticias => {
                // Verificar si noticias es un array
                if (Array.isArray(noticias)) {
                  // Renderizar las noticias
                  renderizarNoticias(noticias);
                } else {
                  console.error('Error: La respuesta no es un array de noticias');
                }
              })
              .catch(error => console.error('Error al obtener noticias:', error));
          })
          .catch(error => console.error('Error al obtener datos de la comunidad:', error));
      }
  
      // Llama a cargarNoticias cuando la página carga
      cargarNoticias();


      //BOTON añadir noticia
      var anadirnoticia = document.getElementById('anadir-noticia');
      // Agregar un evento de clic al contenedor de gestión de roles

      
      anadirnoticia.addEventListener('click', function () {

        // Redireccionar a la página "gestionroles"
        window.location.href = `/anadirnoticia?idvecino=${idvecino}`;
      });
    });
  </script>
</body>

</html>
