<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Comunidades de Vecinos</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="title-section">
        <h1 style="color: #000;">Comunidad Etsit</h1>
    </div>
    <div class="button-container">
        <!-- Botón para ver la comunidad actual -->
        <a href="mi_comunidad.html" class="button">
            <div class="house-icon">
                <img src="bocina.png" alt="Bocina" style="width: 100%;">
            </div>
            <h2>Noticias</h2>
            <p style="font-size: 12px;">Entérate de las novedades de la comunidad</p>
            <p class="button-text">Acceder</p>
            <p class="arrow-bottom">&#8594;</p>
        </a>
        
        <!-- Botón para crear una nueva comunidad -->
        <a href="crear_comunidad.html" class="button">
            <div class="house-icon">
                <img src="calendario.png" alt="Calendario" style="width: 100%;">
            </div>
            <h2>Reserva de zonas</h2>
            <p style="font-size: 12px;">Reserva pistas o locales</p>
            <p class="button-text">Acceder</p>
            <p class="arrow-bottom">&#8594;</p>
        </a>

        <!-- Botón para unirse a otra comunidad -->
        <a href="unirse_comunidad.html" class="button">
            <div class="house-icon">
                <img src="puntos.png" alt="Puntos" style="width: 100%;">
            </div>
            <h2>Gestión de roles</h2>
            <p style="font-size: 12px;">Gestiona los usuarios de la comunidad</p>
            <p class="button-text">Acceder</p>
            <p class="arrow-bottom">&#8594;</p>
        </a>
    </div>
</body>
</html>
