<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuComunidad</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="../static/css/pag1.css" />
    <script>
          document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("loginForm").addEventListener("submit", function(e) {
          e.preventDefault();
          var username = document.getElementById("username").value;
          var password = document.getElementById("password").value;
          
          // Realizar la solicitud fetch a la API
          fetch(`http://localhost:8080/api/vecino?usuario=${username}&contraseña=${password}`, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json'
              // Si tu API requiere un token de autenticación, deberías añadirlo aquí también
            }
          })
          .then(response => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            console.log("ha hecho el get")
            return response.json();
          })
          .then(data => {
            console.log(data);
            // Aquí manejas la respuesta. Por ejemplo, podrías redirigir al usuario o mostrar algún mensaje.
            console.log("ha hecho el get")
            window.location.href = '/sesioniniciada';
            //<a href="pag7act2.html"></a>
          })
          .catch((error) => {
            console.error('There has been a problem with your fetch operation:', error);
          });
        });
      });

      
    </script>
    
</head>

<div class="cabecera">

  <div class="container-2">
    <div class="tu-comunidad">
      TuComunidad
      <img class="icon" />
    </div>
</div>

<div class="pagina">
<div class="container">
  <div class="description">
    <div class="description-1">
      <h2>Te ayudamos a gestionar tu comunidad de vecinos</h2>
    </div>
  
      <p>TuComunidad te ayudará a gestionar tu comunidad de vecinos. Está dirigida a usuarios que viven en una comunidad y quieren gestionarla de manera ordenada.</p>
  </div>

  <div class="login-form">
      <h2>¡Bienvenido de nuevo!
        Inicia sesión aquí</h2>
          <form action="/comunidad?id=33" >
              <label for="username">Nombre de Usuario:</label>
              <input type="text" id="username" name="username" required>
              <label for="password">Contraseña:</label>
              <input type="password" id="password" name="password" required>
              <input type="submit" value="Iniciar Sesión">
        </form>
      
      
          <div style="margin-top: 10px;">
              <a href="/restablecercontrasena2">He olvidado mi contraseña</a>
            
          </div>
      <p>¿No tienes cuenta? <a href="/registro">Regístrate aquí</a>.</p>
  </div>
</div>
</div>

   <!--PIE DE PAGINA-->
   <div class="pie-de-pagina">
    <div class="container-5">
      <div class="image-2">
      </div>
      <div class="container-4">
        <img class="icon-1" src="../static/vectors/intagram.svg" />
        <img class="icon-2" src="../static/vectors/facebook.svg" />
        <img class="icon-3" src="../static/vectors/twitter.svg" />
      </div>
      <div class="idioma">
        <span class="language">
          Idioma
        </span>
        <img class="icon-color" src="../static/vectors/flecha.svg" />
      </div>
    </div>
    <div class="description-2">
      Facilitamos la convivencia en tu comunidad
    </div>
    <div class="line">
    </div>
    <span class="tucom">
      ©TuComunidad 2024
    </span>
  </div>

  <!--<script>
    document.addEventListener("DOMContentLoaded", function() {
document.getElementById("loginForm").addEventListener("submit", function(e) {
e.preventDefault();
var username = document.getElementById("username").value;
var password = document.getElementById("password").value;

// Realizar la solicitud fetch a la API
fetch('http://localhost:8080/api/vecinos', {
method: 'POST',
headers: {
  'Content-Type': 'application/json'
  // Si tu API requiere un token de autenticación, deberías añadirlo aquí también
},
body: JSON.stringify({ usuario: username, contraseña: password })
})
.then(response => {
if (!response.ok) {
  throw new Error('Network response was not ok');
  window.location.href = '/comunidad?id=' + data.idComunidad;
}
return response.json();
})
.then(data => {
console.log(data);
// Aquí manejas la respuesta. Por ejemplo, podrías redirigir al usuario o mostrar algún mensaje.
window.location.href = '/comunidad?id=' + data.idComunidad;
})
.catch((error) => {
console.error('There has been a problem with your fetch operation:', error);
});
});
});


</script>
-->
</body>

</html>