<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Comunidad</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="../static/css/pag11.css" />
</head>

<body>
  <!-- CABECERA -->
  <div class="cabecera">
    <span class="reserva-de-zonas">
      No perteneces a ninguna comunidad
    </span>
    <div class="container">
      <div class="tu-comunidad">
        TuComunidad
      </div>
      <p class="home">
        <a href="" style="text-decoration: none;">
          <span class="home-sub-30"></span>
          <span></span>
        </a>
      </p>
      <div class="log-out">
        <span class="our-works">
          <a href="/" style="text-decoration: none;">Log out</a>
        </span>
      </div>
      <div class="usuario">
        Vecino
      </div>
    </div>
  </div>

  <div class="pagina">
    <div class="container-6">

      <!-- RESERVA DE ZONAS -->
      <div class="elemento" id="acceder-reserva-zonas">
        <div class="borde-azul"></div>
        <div class="elipse-icono">
          <div class="circulo"></div>
          <img class="icono" src="../static/vectors/zonas.svg" />
        </div>
        <div class="titulo">
          Reserva de zonas
        </div>
        <div class="reservar">
          <span class="reservar-1">Acceder</span>
          <img class="flecha-reservar" src="/static/vectors/flecha-reservar.svg" />
        </div>
      </div>

      <!-- NOTICIAS -->
      <div class="elemento" id="acceder-noticias">
        <div class="borde-azul"></div>
        <div class="elipse-icono">
          <div class="circulo"></div>
          <img class="icono" src="../static/vectors/noticias.svg" />
        </div>
        <div class="titulo">
          Noticias
        </div>
        <div class="reservar">
          <span class="reservar-1">Acceder</span>
          <img class="flecha-reservar" src="/static/vectors/flecha-reservar.svg" />
        </div>
      </div>

      <!-- GESTIÓN DE ROLES -->
      <div class="elemento" id="acceder-gestion-roles" style="display: none;">
        <div class="borde-azul">
        </div>
        <div class="elipse-icono">
          <div class="circulo"></div>
          <img class="icono" src="../static/vectors/gestionderoles.svg" />
        </div>
        <div class="titulo">
          Gestión de Roles
        </div>
        <div class="reservar">
          <span class="reservar-1">Acceder</span>
          <img class="flecha-reservar" src="/static/vectors/flecha-reservar.svg" />
        </div>
      </div>

    </div>
  </div>

  <!-- PIE DE PÁGINA -->
  <div class="pie-de-pagina">
    <div class="container-5">
      <div class="image-2">
      </div>
      <div class="container-4">
        <img class="icon-1" src="../static/vectors/intagram.svg" />
        <img the="icon-2" src="../static/vectors/facebook.svg" />
        <img the="icon-3" src="../static/vectors/twitter.svg" />
      </div>
      <div the="idioma">
        <span class="language">
          Idioma
        </span>
        <img class="icon-color" src="../static/vectors/flecha.svg" />
      </div>
    </div>
    <div class="description">
      Facilitamos la convivencia en tu comunidad
    </div>
    <div class="line">
    </div>
    <span class="tucom">
      ©TuComunidad 2024
    </span>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Función para obtener parámetros de la URL
      function getQueryParam(param) {
        var searchParams = new URLSearchParams(window.location.search);
        return searchParams.get(param);
      }

      // Cargar datos de la comunidad al cargar la página
      window.onload = function () {
        var idvecino = getQueryParam('idvecino'); // Obtiene el ID de la URL
        if (idvecino) {
          fetch(`http://localhost:8080/vecinoporid?idvecino=${idvecino}`)
            .then(response => {
              if (!response.ok) {
                throw new Error('No se pudo obtener la información del vecino');
              }
              return response.json();
            })
            .then(data => {
              var gestor = data.gestor; // Obtener el parámetro gestor
              var usuarioDiv = document.querySelector('.usuario'); // Selección del div de usuario
              if (gestor) {
                usuarioDiv.textContent = 'Gestor de comunidad'; // Cambiar el texto a "Gestor"
                document.getElementById('acceder-gestion-roles').style.display = 'block'; // Mostrar el elemento de gestión de roles
              } else {
                usuarioDiv.textContent = 'Vecino'; // Cambiar el texto a "Vecino"
              }

              // Segunda consulta a la API para obtener el nombre de la comunidad
              fetch(`http://localhost:8080/vecino/comunidad?idVecino=${idvecino}`)
                .then(response => {
                  if (!response.ok) {
                    throw new Error('No se pudo obtener la información de la comunidad');
                  }
                  return response.json();
                })
                .then(data => {
                  var nombreComunidad = data.nombre; // Obtener el nombre de la comunidad
                  var reservaDeZonas = document.querySelector('.reserva-de-zonas'); // Selección del span de reserva de zonas
                  var titleTag = document.querySelector('title'); // Selección del tag de título
                  reservaDeZonas.textContent = `Comunidad ${nombreComunidad}`; // Cambiar el texto en el span
                  titleTag.textContent = `Comunidad ${nombreComunidad}`; // Cambiar el texto en el título
                })
                .catch(error => {
                  console.error('Error:', error);
                });
            })
            .catch(error => {
              console.error('Error:', error);
            });
        }
      }

      // Obtener el ID del vecino de la URL
      var idvecino = getQueryParam('idvecino');

      // ACCEDER RESERVA DE ZONAS Obtener el contenedor de reserva de zonas
      var reservaDeZonas = document.querySelector('#acceder-reserva-zonas');

      // Agregar un evento de clic al contenedor de reserva de zonas
      reservaDeZonas.addEventListener('click', function () {
        // Redireccionar a la página "panelreservas" con el parámetro "idvecino"
        window.location.href = `/panelreservas?idvecino=${idvecino}`;
      });

      // ACCEDER NOTICIAS
      var noticias = document.getElementById('acceder-noticias');
      // Agregar un evento de clic al contenedor de noticias
      noticias.addEventListener('click', function () {
        // Redireccionar a la página de noticias con el ID del vecino como parámetro
        window.location.href = `/noticias?idvecino=${idvecino}`;
      });

      // ACCEDER GESTION ROLES
      var gestionRoles = document.getElementById('acceder-gestion-roles');
      // Agregar un evento de clic al contenedor de gestión de roles
      gestionRoles.addEventListener('click', function () {
        // Redireccionar a la página de gestión de roles con el ID del vecino como parámetro
        window.location.href = `/gestionroles?idvecino=${idvecino}`;
      });

    });
  </script>

</body>

</html>
