<!doctype html>
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Comunidad Etsit</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="../static/css/pag11.css" />
</head>

<body>
  <!--CABECERA-->
  <div class="cabecera">
    <span class="reserva-de-zonas">
      Comunidad Etsit
    </span>
    <div class="container">
      <div class="tu-comunidad">
        TuComunidad
      </div>
      <p class="home">
        <a href="/comunidad" style="text-decoration: none;">
          <span class="home-sub-30">Home</span>
          <span></span>
      </a>
     </p>
      <div class="log-out">
        <span class="our-works">
          <a href="/" style="text-decoration: none;">Log out</a>
        </span>
      </div>
      <div class="usuario">
        Vecino
      </div>
    </div>
  </div>

  <div class="pagina">
    <div class="container-6">

      <!--RESERVA DE ZONAS-->
      <div class="elemento">
        <div class="borde-azul"></div>
        <div class="elipse-icono">
          <div class="circulo"></div>
          <img class="icono" src="../static/vectors/zonas.svg" />
        </div>
        <div class="titulo">
          <a href="reserva.html">Reserva de zonas</a>
        </div>
        <div class="reservar">
          <span class="reservar-1">
            Acceder
          </span>
          <img class="flecha-reservar" src="../static/vectors/flecha-reservar.svg" />
        </div>
      </div>

      <div class="elemento">
        <div class="borde-azul"></div>
        <div class="elipse-icono">
          <div class="circulo"></div>
          <img class="icono" src="../static/vectors/zonas.svg" />
        </div>
        <div class="titulo">
          <a href="noticias.html">Noticias</a>
        </div>
        <div class="reservar">
          <span class="reservar-1">
            Acceder
          </span>
          <img class="flecha-reservar" src="../static/vectors/flecha-reservar.svg" />
        </div>
      </div>
      
    </div>
  </div>

  <!--PIE DE PAGINA-->
  <div class="pie-de-pagina">
    <div class="container-5">
      <div class="image-2">
      </div>
      <div class="container-4">
        <img class="icon-1" src="../static/vectors/intagram.svg" />
        <img the="icon-2" src="../static/vectors/facebook.svg" />
        <img the="icon-3" src="../static/vectors/twitter.svg" />
      </div>
      <div the="idioma">
        <span class="language">
          Idioma
        </span>
        <img class="icon-color" src="../static/vectors/flecha.svg" />
      </div>
    </div>
    <div class="description">
      Facilitamos la convivencia en tu comunidad
    </div>
    <div class="line">
    </div>
    <span class="tucom">
      ©TuComunidad 2024
    </span>
  </div>
  <script>
    // Función para obtener parámetros de la URL
    function getQueryParam(param) {
      var searchParams = new URLSearchParams(window.location.search);
      return searchParams.get(param);
    }
  
    // Cargar datos de la comunidad al cargar la página
    window.onload = function() {
      var idComunidad = getQueryParam('id'); // Obtiene el ID de la URL
      if (idComunidad) {
        fetch(`http://localhost:8080/comunidadbyid?idcomunidad=${idComunidad}`)
          .then(response => {
            if (!response.ok) {
              throw new Error('No se pudo obtener la información de la comunidad');
            }
            return response.json();
          })
          .then(data => {
            // Actualiza el nombre en el título del documento y en la cabecera
            var nombreComunidad = data.nombre ? `Comunidad ${data.nombre}` : 'Comunidad no identificada';
            document.querySelector('title').textContent = nombreComunidad;
            document.querySelector('.cabecera .reserva-de-zonas').textContent = nombreComunidad;
          })
          .catch(error => {
            console.error('Error:', error);
          });
      }
    }
  </script>
  
</body>

</html>
