<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuComunidad</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="../assets/css/pag1.css" />
</head>

<div class="cabecera">

  <div class="container-2">
    <div class="tu-comunidad">
      TuComunidad
      <img class="icon" />
    </div>
</div>

<div class="container">
  <div class="description">
    <div class="description-1">
      <h2>Te ayudamos a gestionar tu comunidad de vecinos</h2>
    </div>
  
      <p>TuComunidad te ayudará a gestionar tu comunidad de vecinos. Está dirigida a usuarios que viven en una comunidad y quieren gestionarla de manera ordenada.</p>
  </div>

  <div class="login-form">
      <h2>!Bienvenido de nuevo!
        Inicia sesión aquí</h2>
      <form action="#" method="post">
          <label for="username">Nombre de Usuario:</label>
          <input type="text" id="username" name="username" required>
          <label for="password">Contraseña:</label>
          <input type="password" id="password" name="password" required>
          <input type="submit" value="Iniciar Sesión">
          <div style="margin-top: 10px;">
              <a href="#">He olvidado mi contraseña</a>
          </div>
      </form>
      <p>¿No tienes cuenta? <a href="#">Regístrate aquí</a>.</p>
  </div>
</div>

   <!--PIE DE PAGINA-->
   <div class="pie-de-pagina">
    <div class="container-5">
      <div class="image-2">
      </div>
      <div class="container-4">
        <img class="icon-1" src="../assets/vectors/intagram.svg" />
        <img class="icon-2" src="../assets/vectors/facebook.svg" />
        <img class="icon-3" src="../assets/vectors/twitter.svg" />
      </div>
      <div class="idioma">
        <span class="language">
          Idioma
        </span>
        <img class="icon-color" src="../assets/vectors/flecha.svg" />
      </div>
    </div>
    <div class="description-2">
      Facilitamos la convivencia en tu comunidad
    </div>
    <div class="line">
    </div>
    <span class="tucom">
      ©TuComunidad 2024
    </span>
  </div>

</body>
</html>