<!doctype html>
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Comunidad Etsit</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="../static/css/pag11.css" />
</head>

<body>
  <!--CABECERA-->
  <div class="cabecera">
    <span class="reserva-de-zonas">
      Comunidad Etsit
    </span>
    <div class="container">
      <div class="tu-comunidad">
        TuComunidad
      </div>
      <p class="home">
        <a href="" style="text-decoration: none;">
          <span class="home-sub-30">Home</span>
          <span></span>
      </a>
     </p>
      <div class="log-out">
        <span class="our-works">
          <a href="/" style="text-decoration: none;">Log out</a>
        </span>
      </div>
      <div class="usuario">
        Vecino
      </div>
    </div>
  </div>

  <div class="pagina">
    <div class="container-6">

      <!--RESERVA DE ZONAS-->
      <div class="elemento">
        <div class="borde-azul"></div>
        <div class="elipse-icono">
          <div class="circulo"></div>
          <img class="icono" src="../static/vectors/zonas.svg" />
        </div>
        <div class="titulo">
          Reserva de zonas
        </div>
        <div class="reservar">
          <span class="reservar-1">
            Acceder
          </span>
        </div>
      </div>

      <div class="elemento">
        <div class="borde-azul"></div>
        <div class="elipse-icono">
          <div class="circulo"></div>
          <img class="icono" src="../static/vectors/zonas.svg" />
        </div>
        <div class="titulo">
          <a href="noticias.html">Noticias</a>
        </div>
        <div class="reservar">
          <span class="reservar-1">
            Acceder
          </span>
        </div>
      </div>
      
    </div>
  </div>

  <!--PIE DE PAGINA-->
  <div class="pie-de-pagina">
    <div class="container-5">
      <div class="image-2">
      </div>
      <div class="container-4">
        <img class="icon-1" src="../static/vectors/intagram.svg" />
        <img the="icon-2" src="../static/vectors/facebook.svg" />
        <img the="icon-3" src="../static/vectors/twitter.svg" />
      </div>
      <div the="idioma">
        <span class="language">
          Idioma
        </span>
        <img class="icon-color" src="../static/vectors/flecha.svg" />
      </div>
    </div>
    <div class="description">
      Facilitamos la convivencia en tu comunidad
    </div>
    <div class="line">
    </div>
    <span class="tucom">
      ©TuComunidad 2024
    </span>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Función para obtener parámetros de la URL
      function getQueryParam(param) {
        var searchParams = new URLSearchParams(window.location.search);
        return searchParams.get(param);
      }
  
      // Cargar datos de la comunidad al cargar la página
      window.onload = function () {
        var idvecino = getQueryParam('idvecino'); // Obtiene el ID de la URL
        if (idvecino) {
          fetch(`http://localhost:8080/vecinoporid?idvecino=${idvecino}`)
            .then(response => {
              if (!response.ok) {
                throw new Error('No se pudo obtener la información del vecino');
              }
              return response.json();
            })
            .then(data => {
              var gestor = data.gestor; // Obtener el parámetro gestor
              var usuarioDiv = document.querySelector('.usuario'); // Selección del div de usuario
              if (gestor) {
                usuarioDiv.textContent = 'Gestor'; // Cambiar el texto a "Gestor"
              } else {
                usuarioDiv.textContent = 'Vecino'; // Cambiar el texto a "Vecino"
              }
  
              // Segunda consulta a la API para obtener el nombre de la comunidad
              fetch(`http://localhost:8080/vecino/comunidad?idVecino=${idvecino}`)
                .then(response => {
                  if (!response.ok) {
                    throw new Error('No se pudo obtener la información de la comunidad');
                  }
                  return response.json();
                })
                .then(data => {
                  var nombreComunidad = data.nombre; // Obtener el nombre de la comunidad
                  var reservaDeZonas = document.querySelector('.reserva-de-zonas'); // Selección del span de reserva de zonas
                  var titleTag = document.querySelector('title'); // Selección del tag de título
                  reservaDeZonas.textContent = `Comunidad ${nombreComunidad}`; // Cambiar el texto en el span
                  titleTag.textContent = `Comunidad ${nombreComunidad}`; // Cambiar el texto en el título
                })
                .catch(error => {
                  console.error('Error:', error);
                });
            })
            .catch(error => {
              console.error('Error:', error);
            });
        }
      }
  
      // Obtener el ID del vecino de la URL
      var idvecino = getQueryParam('idvecino');
  
      // Obtener el contenedor de reserva de zonas
      var reservaDeZonas = document.querySelector('.elemento:nth-child(1)');
  
      // Agregar un evento de clic al contenedor de reserva de zonas
      reservaDeZonas.addEventListener('click', function () {
        // Redireccionar a la página "panelreservas" con el parámetro "idvecino"
        window.location.href = `/panelreservas?idvecino=${idvecino}`;
      });
    });
  </script>
  
  
  
</body>

</html>
