<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Restablecer contraseña 1</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="../assets/css/pag2c.css" />
</head>

<body>
  <!--CABECERA-->
  <div class="cabecera">
    <span class="reserva-de-zonas">
      Restablecer contraseña
    </span>
    <div class="container">
      <div class="tu-comunidad">
        TuComunidad
      </div>
      <p class="home">
        <span class="home-sub-30">Home</span><span></span>
      </p>
     
    </div>
  </div>

  <!--PAGINA-->
  <div class="pagina">
    <div class="container-6">

        <div class="restablecer-contraseña">
            
            <p>Por favor, ingresa la dirección de correo electrónico vinculada a tu cuenta:</p>
            <form action="#" method="post">
                <input type="email" id="email" name="email" placeholder="Correo Electrónico" required>
                <input type="submit" value="Enviar">
            </form>
          </div>

      
    </div>
  </div>


  <!--PIE DE PAGINA-->
  <div class="pie-de-pagina">
    <div class="container-5">
      <div class="image-2">
      </div>
      <div class="container-4">
        <img class="icon-1" src="../assets/vectors/intagram.svg" />
        <img class="icon-2" src="../assets/vectors/facebook.svg" />
        <img class="icon-3" src="../assets/vectors/twitter.svg" />
      </div>
      <div class="idioma">
        <span class="language">
          Idioma
        </span>
        <img class="icon-color" src="../assets/vectors/flecha.svg" />
      </div>
    </div>
    <div class="description">
      Facilitamos la convivencia en tu comunidad
    </div>
    <div class="line">
    </div>
    <span class="tucom">
      ©TuComunidad 2024
    </span>
  </div>
</body>

</html>