<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Restablecer contraseña</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="../assets/css/base.css" />
</head>

<body>
    
  <!--RESTABLECER CONTRASEÑA-->
  <div class="restablecer-contraseña">
    <h2>Restablecer Contraseña</h2>
    <p>Por favor, ingresa la dirección de correo electrónico vinculada a tu cuenta:</p>
    <form action="#" method="post">
        <input type="email" id="email" name="email" placeholder="Correo Electrónico" required>
        <input type="submit" value="Enviar">
    </form>
</div>
 
</body>

</html>