<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Comunidades de Vecinos</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="title-section">
        <h1 style="color: #000;">Tu Comunidad</h1>
    </div>
    <div class="button-container">
        <!-- Botón para ver la comunidad actual -->
        <a href="mi_comunidad.html" class="button">
            <div class="house-icon">
                <img src="house_icon.png" alt="Casa" style="width: 100%;">
            </div>
            <h2>Tu comunidad actual</h2>
            <p style="font-size: 12px;">Comunidad Etsit</p>
            <p class="button-text">Acceder</p>
            <p class="arrow-bottom">&#8594;</p>
        </a>
        
        <!-- Botón para crear una nueva comunidad -->
        <a href="crear_comunidad.html" class="button">
            <div class="house-icon">
                <img src="house_icon.png" alt="Casa" style="width: 100%;">
            </div>
            <h2>Crea una comunidad</h2>
            <p style="font-size: 12px;">Crea una nueva comunidad de vecinos</p>
            <p class="button-text">Crear</p>
            <p class="arrow-bottom">&#8594;</p>
        </a>

        <!-- Botón para unirse a otra comunidad -->
        <a href="unirse_comunidad.html" class="button">
            <div class="house-icon">
                <img src="house_icon.png" alt="Casa" style="width: 100%;">
            </div>
            <h2>Únete a una comunidad</h2>
            <p style="font-size: 12px;">¿Eres nuevo en una comunidad de vecinos? Únete.</p>
            <p class="button-text">Unirse</p>
            <p class="arrow-bottom">&#8594;</p>
        </a>
    </div>
</body>
</html>
