<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Tu Comunidad</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="../static/css/ejemplo.css" />
</head>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    document.getElementById('crearComunidadBtn').addEventListener('click', function() {
      window.location.href = '/crearcomunidad';
    });
  });

  document.addEventListener('DOMContentLoaded', (event) => {
    document.getElementById('menucomunidad').addEventListener('click', function() {
      window.location.href = '/menucomunidad';
    });
  });
</script>
  

<body>
  <!--CABECERA-->
  <div class="cabecerºa">
    <span class="reserva-de-zonas">
      Reserva de zonas
    </span>
    <div class="container">
      <div class="tu-comunidad">
        TuComunidad
      </div>
      <p class="home">
        <span class="home-sub-30">Home</span><span></span>
      </p>
      <div class="log-out">
        <span class="our-works">
          Log Out
        </span>
      </div>
      <div class="usuario">
        Vecino
      </div>
    </div>
  </div>

  <div class="pagina">
    <div class="container-6">

      <!--TU COMUNIDAD ACTUAL-->
      <div class="elemento">
        <div class="borde-azul"></div>
        <div class="elipse-icono">
          <div class="circulo"></div>
          <img class="icono" src="../static/vectors/casa.svg" />
        </div>
        <div class="titulo">
          <a href="pag11act.html">Tu comunidad actual</a>
        </div>
        <div class="reservar"id="menucomunidad">
          <span class="reservar-1">
            Acceder
          </span>
          <img class="flecha-reservar" src="../static/vectors/flecha-reservar.svg" />
        </div>
      </div>

      <!--CREA UNA COMUNIDAD-->
      <div class="elemento">
        <div class="borde-azul"></div>
        <div class="elipse-icono">
          <div class="circulo"></div>
          <img class="icono" src="../static/vectors/casa.svg" />
        </div>
        <div class="titulo">
          <a href="pag9act.html">Crea una comunidad</a>
        </div>
        <div class="reservar" id="crearComunidadBtn">
          <span class="reservar-1">
            Crear
          </span>
          <img class="flecha-reservar" src="../static/vectors/flecha-reservar.svg" />
        </div>
      </div>

      
    </div>
  </div>

  
</div>
</div>

  <!--PIE DE PAGINA-->
  <div class="pie-de-pagina">
    <div class="container-5">
      <div class="image-2">
      </div>
      <div class="container-4">
        <img class="icon-1" src="../static/vectors/intagram.svg" />
        <img class="icon-2" src="../static/vectors/facebook.svg" />
        <img class="icon-3" src="../static/vectors/twitter.svg" />
      </div>
      <div class="idioma">
        <span class="language">
          Idioma
        </span>
        <img class="icon-color" src="../static/vectors/flecha.svg" />
      </div>
    </div>
    <div class="description">
      Facilitamos la convivencia en tu comunidad
    </div>
    <div class="line">
    </div>
    <span class="tucom">
      ©TuComunidad 2024
    </span>
  </div>
</body>

</html>