<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Crea una nueva comunidad de vecinos</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="../assets/css/ejemplo.css" />
</head>

<body>
  <!--CABECERA-->
  <div class="cabecera">
    <span class="reserva-de-zonas">
      Reserva de zonas
    </span>
    <div class="container">
      <div class="tu-comunidad">
        TuComunidad
      </div>
      <p class="home">
        <span class="home-sub-30">Home</span><span></span>
      </p>
      <div class="log-out">
        <span class="our-works">
          Log Out
        </span>
      </div>
      <div class="usuario">
        Vecino
      </div>
    </div>
  </div>

  <div class="pagina">
    <div class="container-6">

      
        <div class="title-section">
            <h1 class="bold-text">Crea una nueva comunidad de vecinos</h1>
        </div>
        
        <div class="form-container">
            <p class="bold-text"><span class="form-text">Para crear una nueva comunidad rellene los siguientes datos:</span></p>
            <form method="post" action="/crearcomunidad">
            <div class="form-field">
                <label for="nombre_comunidad" class="form-label">Nombre de la comunidad*:</label>
                <input type="text" id="nombre_comunidad" name="nombre_comunidad" class="form-input" placeholder="Escriba el nombre">
            </div>
            <div class="form-field">
                <label for="codigo_postal" class="form-label">Código postal*:</label>
                <input type="text" id="codigo_postal" name="codigo_postal" class="form-input" placeholder="Escriba el código postal">
            </div>
            </form>
            
            <div class="form-field">
                <label for="zonas_comunes" class="form-label">Zonas comunes:</label>
                <select id="zonas_comunes" name="zonas_comunes[]" class="form-input" multiple>
                    <option value="pistas_padel">Pistas de pádel</option>
                    <option value="pistas_futbol">Pistas de fútbol</option>
                    <option value="pistas_baloncesto">Pistas de baloncesto</option>
                    <option value="piscina">Piscina</option>
                    <option value="sala_estudio">Sala de estudio</option>
                    <option value="gimnasio">Gimnasio</option>
                    <option value="salon">Salón</option>
                </select>
            </div>
            <button class="join-button">Crear</button>
        </div>

      
    </div>
  </div>


  <!--PIE DE PAGINA-->
  <div class="pie-de-pagina">
    <div class="container-5">
      <div class="image-2">
      </div>
      <div class="container-4">
        <img class="icon-1" src="../assets/vectors/intagram.svg" />
        <img class="icon-2" src="../assets/vectors/facebook.svg" />
        <img class="icon-3" src="../assets/vectors/twitter.svg" />
      </div>
      <div class="idioma">
        <span class="language">
          Idioma
        </span>
        <img class="icon-color" src="../assets/vectors/flecha.svg" />
      </div>
    </div>
    <div class="description">
      Facilitamos la convivencia en tu comunidad
    </div>
    <div class="line">
    </div>
    <span class="tucom">
      ©TuComunidad 2024
    </span>
  </div>
</body>

</html>