<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Reserva</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="../assets/css/reserva.css" />
</head>

<body>
  <!--CABECERA-->
  <div class="cabecera">
    <span class="reserva-de-zonas">
      Reserva de zonas
    </span>
    <div class="container">
      <div class="tu-comunidad">
        TuComunidad
      </div>
      <p class="home">
        <span class="home-sub-30">Home</span><span></span>
      </p>
      <div class="log-out">
        <span class="our-works">
          Log Out
        </span>
      </div>
      <div class="usuario">
        Vecino
      </div>
    </div>
  </div>

  <!--<div class="reserva">

    
    <div class="container-6">
      <div class="padel">
        <img class="rectangle-2" src="../assets/vectors/rectangle2_x2.svg" />
        <img class="rectangle-3" src="../assets/vectors/rectangle3_x2.svg" />
        <img class="container-1" src="../assets/vectors/pelotapadel.svg" />
        <div class="pista-de-padel">
          Pista de padel
        </div>
        <div class="reservar">
          <span class="reservar-1">
            Reservar
          </span>
          <img class="container-3" src="../assets/vectors/container3_x2.svg" />
        </div>
      </div>
      <div class="local">
        <img class="rectangle-188" src="../assets/vectors/rectangle188_x2.svg" />
        <img class="rectangle-31" src="../assets/vectors/rectangle31_x2.svg" />
        <img class="container-7" src="../assets/vectors/container2_x2.svg" />
        <div class="local-1">
          Local
        </div>
        <div class="reservar-2">
          <span class="reservar-3">
            Reservar
          </span>
          <img class="container-2" src="../assets/vectors/container_x2.svg" />
          
        </div>
      </div>
    </div>
  </div>
  -->

<!--PIE DE PAGINA-->
  <div class="pie-de-pagina">
    <div class="container-5">
      <div class="image-2">
      </div>
      <div class="container-4">
        <img class="icon-1" src="../assets/vectors/intagram.svg" />
        <img class="icon-2" src="../assets/vectors/facebook.svg" />
        <img class="icon-3" src="../assets/vectors/twitter.svg" />
      </div>
      <div class="idioma">
        <span class="language">
          Idioma
        </span>
        <img class="icon-color" src="../assets/vectors/flecha.svg" />
      </div>
    </div>
    <div class="description">
      Facilitamos la convivencia en tu comunidad
    </div>
    <div class="line">
    </div>
    <span class="tucom">
      ©TuComunidad 2024
    </span>
  </div>
</body>

</html>