<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Reserva</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" th:href="@{/static/css/reserva.css}" />
</head>

<body>
  <!-- CABECERA -->
  <div class="cabecera">
    <span class="reserva-de-zonas">
      Reserva de zonas
    </span>
    <div class="container">
      <div class="tu-comunidad">
        TuComunidad
      </div>
      <p class="home">
        <a href="/comunidad" style="text-decoration: none;">
          <span class="home-sub-30">Home</span>
          <span></span>
      </a>
          </p>
      <div class="log-out">
        <span class="our-works">
          <a href="/" style="text-decoration: none;">Log out</a>
        </span>
      </div>
      <div class="usuario">
        Vecino
      </div>
    </div>
  </div>

  <!-- PAGINA -->
  <div class="pagina">
    <div class="container-6">
      <!-- Iterar sobre la lista de áreas comunes -->
    </div>

  </div>

  <!-- PIE DE PAGINA -->
  <div class="pie-de-pagina">
    <div class="container-5">
      <div class="image-2">
      </div>
      <div class="container-4">
        <img class="icon-1" th:src="@{/static/vectors/intagram.svg}" />
        <img class="icon-2" th:src="@{/static/vectors/facebook.svg}" />
        <img class="icon-3" th:src="@{/static/vectors/twitter.svg}" />
      </div>
      <div class="idioma">
        <span class="language">
          Idioma
        </span>
        <img class="icon-color" th:src="@{/static/vectors/flecha.svg}" />
      </div>
    </div>
    <div class="description">
      Facilitamos la convivencia en tu comunidad
    </div>
    <div class="line">
    </div>
    <span class="tucom">
      ©TuComunidad 2024
    </span>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Función para obtener parámetros de la URL
      function getQueryParam(param) {
        var searchParams = new URLSearchParams(window.location.search);
        return searchParams.get(param);
      }

      // Cargar datos de la comunidad al cargar la página
      window.onload = function () {
        var idvecino = getQueryParam('idvecino'); // Obtiene el ID de la URL
        if (idvecino) {
          fetch(`http://localhost:8080/tipodeareaporvecino?idvecino=${idvecino}`)
            .then(response => {
              if (!response.ok) {
                throw new Error('No se pudo obtener la información de las áreas comunes');
              }
              return response.json();
            })
            .then(data => {
              var areas = data; // Obtener las áreas comunes
              var container = document.querySelector('.container-6'); // Selección del contenedor de áreas comunes

              areas.forEach(area => {
                var tipodearea;
                if (area === 'PADEL') {
                  tipodearea = 0;
                } else if (area === 'LOCAL') {
                  tipodearea = 1;
                } else if (area === 'GIMNASIO') {
                  tipodearea = 2;
                }

                var newElement = document.createElement('div');
                newElement.classList.add('elemento');
                newElement.innerHTML = `
                <a href="/reservasportipo?idvecino=${idvecino}&tipodearea=${tipodearea}" style="text-decoration: none;">
                  <div class="borde-azul"></div>
                  <div class="elipse-icono">
                    <div class="circulo"></div>
                    <img class="icono" src="/static/vectors/${area.toLowerCase()}.svg" />
                  </div>
                  <div class="titulo">${area}</div>
                  <div class="reservar">
                      <span class="reservar-1">Reservar</span>
                      <img class="flecha-reservar" src="/static/vectors/flecha-reservar.svg" />
                  </div>
                </a>
                `;
                container.appendChild(newElement);
              });
            })
            .catch(error => {
              console.error('Error:', error);
            });
        }
      }
    });
  </script>

</body>

</html>
