<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Selección de horario</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" th:href="@{/static/css/reserva-padel.css}" />
  <style>
    /* Agregar efecto de presionar el botón */
    .boton-cancelar.pressed {
      transform: translateY(2px);
    }

    /* Estilo para resaltar los recuadros seleccionados */
    .seleccionado {
      background-color: lightblue;
    }

    /* Estilo para resaltar las reservas del vecino actual */
    .reserva-vecino {
      background-color: green;
    }

    /* Estilo para resaltar las reservas de otros vecinos */
    .reserva-otro-vecino {
      background-color: red;
    }
  </style>
</head>

<body>
  <!-- CABECERA -->
  <div class="cabecera">
    <span class="reserva-de-zonas">
      Selección de horario
    </span>
    <div class="container">
      <div class="tu-comunidad">
        TuComunidad
      </div>
      <p class="home">
        <a id="home-link" href="#" style="text-decoration: none;">
          <span class="home-sub-30">Home</span>
          <span></span>
        </a>
      </p>
      <div class="log-out">
        <span class="our-works">
          <a href="/" style="text-decoration: none;">Log out</a>
        </span>
      </div>
      <div class="usuario">
        Vecino
      </div>
    </div>
  </div>

  <!-- PAGINA -->
  <div class="pagina">
    <div class="container-6">
      <!-- PADEL -->
      <div class="elemento">
        <div class="borde-azul"></div>
        <div class="titulo"></div> <!-- Mostrar el nombre del área común -->
        <!-- Agregar un campo de entrada para seleccionar el día -->
        <div class="container-select-dia">
          <label for="input-dia">Seleccionar día:</label>
          <input type="date" id="input-dia" onchange="cargarReservasPorDia()">
        </div>

        <!-- Elemento para mostrar el horario de reservas -->
        <div class="horario-reservas">
          <!-- Generar filas -->
          <div class="columnas-horas">
            <!-- Generar cuadrados por cada hora desde las 9:00:00 hasta las 23:00:00 -->
            <div th:each="hora : ${#numbers.sequence(9, 22)}" class="cuadrado-reserva" onclick="seleccionarHora(this)">
              <span th:text="${hora + ':00:00'}"></span>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container-botones">

      <!-- BOTÓN CANCELAR RESERVA -->
      <div class="boton-cancelar" onclick="cancelarReserva()">
        <span class="texto-boton">Cancelar reserva</span>
      </div>

      <!-- BOTÓN RESERVAR -->
      <div class="boton-reservar" onclick="reservar()">
        <span class="texto-boton">Reservar</span>
      </div>
    </div>
  </div>

  <!-- PIE DE PAGINA -->
  <div class="pie-de-pagina">
    <div class="container-5">
      <div class="image-2"></div>
      <div class="container-4">
        <img class="icon-1" th:src="@{/static/vectors/intagram.svg}" />
        <img class="icon-2" th:src="@{/static/vectors/facebook.svg}" />
        <img class="icon-3" th:src="@{/static/vectors/twitter.svg}" />
      </div>
      <div class="idioma">
        <span class="language">Idioma</span>
        <img class="icon-color" th:src="@{/static/vectors/flecha.svg}" />
      </div>
    </div>
    <div class="description" th:text="${descripcion}">
      Facilitamos la convivencia en tu comunidad
    </div>
    <div class="line"></div>
    <span class="tucom">©TuComunidad 2024</span>
  </div>

  <script>
    var horasSeleccionadas = []; // Array para almacenar las horas seleccionadas
  
    // Función para cargar las reservas por día y resaltar las horas reservadas
function cargarReservasPorDia() {
  // Limpiar las reservas pintadas al cambiar de día
  limpiarReservasPintadas();
  var fechaSeleccionada = new Date(document.getElementById("input-dia").value);
  var areaComunId = obtenerParametroURL("idarea");
  var idVecino = obtenerParametroURL("idvecino");

  // Realizar la petición al servidor para obtener las reservas para el área común y día especificados
  fetch(`/reservasporidarea?idarea=${areaComunId}`)
    .then(response => response.json())
    .then(reservas => {
      var cuadrados = document.querySelectorAll(".cuadrado-reserva");

      cuadrados.forEach(cuadrado => {
        var horaReserva = cuadrado.innerText.trim();

        // Obtener la hora de reserva en forma de timestamp
        var horaReservaTimestamp = new Date(fechaSeleccionada.getFullYear(), fechaSeleccionada.getMonth(), fechaSeleccionada.getDate(), horaReserva.split(":")[0], horaReserva.split(":")[1], horaReserva.split(":")[2]).getTime();

        // Verificar si hay alguna reserva que coincida con la fecha y hora seleccionadas
        var reserva = reservas.find(reserva => {
          var inicioReservaTimestamp = new Date(reserva.inicioReserva).getTime();
          var finReservaTimestamp = new Date(reserva.finReserva).getTime();
          return horaReservaTimestamp >= inicioReservaTimestamp && horaReservaTimestamp < finReservaTimestamp;
        });

        if (reserva) {
          if (reserva.idvecino === parseInt(idVecino)) {
            cuadrado.classList.add("reserva-vecino"); // Agregar clase de reserva del vecino actual
          } else {
            cuadrado.classList.add("reserva-otro-vecino"); // Agregar clase de reserva de otro vecino
          }
        } else {
          cuadrado.classList.add("disponible"); // Marcar como libre si no hay reserva
        }
      });
    })
    .catch(error => console.error('Error al cargar las reservas:', error));
}

// Función para seleccionar una hora
function seleccionarHora(cuadrado) {
  if (!cuadrado.classList.contains("reserva-otro-vecino")) { // Verificar si no está reservado en rojo
    if (cuadrado.classList.contains("reserva-vecino")) 
      alert("Esta hora ya está reservada por ti.");
    if (cuadrado.classList.contains("seleccionado")) {
      cuadrado.classList.remove("seleccionado"); // Desmarcar la hora si ya estaba seleccionada
      actualizarHorasSeleccionadas();
    } else {
      if (horasSeleccionadas.length < 2) {
        if (horasSeleccionadas.length === 1) {
          var horaSeleccionada = parseInt(cuadrado.innerText.trim().split(":")[0]);
          var horaAnterior = parseInt(horasSeleccionadas[0].innerText.trim().split(":")[0]);
          if (Math.abs(horaSeleccionada - horaAnterior) === 1) {
            cuadrado.classList.add("seleccionado"); // Marcar la hora si no estaba seleccionada y es consecutiva a la hora anterior
            actualizarHorasSeleccionadas();
          } else {
            alert("Debes seleccionar horas consecutivas.");
          }
        } else {
          cuadrado.classList.add("seleccionado"); // Marcar la hora si no estaba seleccionada
          actualizarHorasSeleccionadas();
        }
      } else {
        alert("Solo puedes seleccionar un máximo de 2 horas consecutivas sin reserva.");
      }
    }
  } else {
    alert("Esta hora ya está reservada y no se puede seleccionar.");
  }
}


  
    // Función para limpiar las reservas pintadas al cambiar de día
    function limpiarReservasPintadas() {
      var cuadrados = document.querySelectorAll(".cuadrado-reserva");
  
      // Iterar sobre todos los cuadrados de reserva y eliminar las clases asociadas a las reservas
      cuadrados.forEach(cuadrado => {
        cuadrado.classList.remove("reserva-vecino");
        cuadrado.classList.remove("reserva-otro-vecino");
        cuadrado.classList.remove("disponible");
      });
    }


  
    // Función para verificar si las horas seleccionadas son consecutivas
    function sonConsecutivas() {
      if (horasSeleccionadas.length === 2) {
        var horaSeleccionada = parseInt(horasSeleccionadas[1].innerText.trim().split(":")[0]);
        var horaAnterior = parseInt(horasSeleccionadas[0].innerText.trim().split(":")[0]);
        return Math.abs(horaSeleccionada - horaAnterior) === 1;
      }
      return true; // Si solo se ha seleccionado una hora, siempre se considera como consecutiva
    }
  
    // Función para actualizar el array de horas seleccionadas
    function actualizarHorasSeleccionadas() {
      horasSeleccionadas = [];
      var cuadradosSeleccionados = document.querySelectorAll(".seleccionado");
      cuadradosSeleccionados.forEach(cuadrado => {
        horasSeleccionadas.push(cuadrado);
      });
    }

    // Función para deseleccionar todas las horas seleccionadas
function deseleccionarHoras() {
  var cuadradosSeleccionados = document.querySelectorAll(".seleccionado");
  cuadradosSeleccionados.forEach(cuadrado => {
    cuadrado.classList.remove("seleccionado");
  });
}

function reservar() {
  var idVecino = obtenerParametroURL("idvecino");
  var idArea = obtenerParametroURL("idarea");

  if (horasSeleccionadas.length > 0) {
    // Realizar la petición al servidor para obtener las reservas del vecino
    fetch(`/reservas/id`)
      .then(response => response.json())
      .then(reservas => {
        // Verificar si el idVecino está en la lista de reservas
        if (reservas.includes(parseInt(idVecino))) {
          // Si el vecino ya tiene una reserva activa, mostrar mensaje de alerta
          alert("Ya tienes una reserva activa.");
          // Deseleccionar todas las horas seleccionadas
          deseleccionarHoras();
          // Recargar las reservas para el mismo día
          cargarReservasPorDia();
        } else {
          // Si el vecino no tiene una reserva activa, continuar con la lógica de reserva
          var horasConsecutivas = true;
          if (horasSeleccionadas.length === 2) {
            horasConsecutivas = sonConsecutivas(horasSeleccionadas[0], horasSeleccionadas[1]);
          }
          if (!horasConsecutivas) {
            alert("Debes seleccionar horas consecutivas.");
            return;
          }

          var idReservasUtilizados = [];

          // Realizar la petición al servidor para obtener las reservas para el área común
          fetch(`/reservasporidarea?idarea=${idArea}`)
            .then(response => response.json())
            .then(reservas => {
              // Obtener los ID de reserva utilizados por otros vecinos
              idReservasUtilizados = reservas.map(reserva => reserva.idvecino);

              // Verificar si el ID del vecino está en la lista de reservas
              if (idReservasUtilizados.includes(parseInt(idVecino))) {
                alert("Ya tienes una reserva activa.");
              } else {
                var idReserva = obtenerIdReservaDisponible(idReservasUtilizados);

                var fechaSeleccionada = new Date(document.getElementById("input-dia").value);
                var horaInicio = horasSeleccionadas[0].innerText.trim();
                var horaFin = horasSeleccionadas.length === 2 ? horasSeleccionadas[1].innerText.trim() : horaInicio;

                var inicioReserva = new Date(Date.UTC(fechaSeleccionada.getFullYear(), fechaSeleccionada.getMonth(), fechaSeleccionada.getDate(), parseInt(horaInicio), 0, 0)).toISOString();
                var finReserva = new Date(Date.UTC(fechaSeleccionada.getFullYear(), fechaSeleccionada.getMonth(), fechaSeleccionada.getDate(), parseInt(horaFin) + 1, 0, 0)).toISOString();

                var reserva = {
                  idreserva: idReserva,
                  idvecino: parseInt(idVecino),
                  idarea: parseInt(idArea),
                  inicioReserva: inicioReserva,
                  finReserva: finReserva
                };

                fetch(`/reservas/agregar`, {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json'
  },
  body: JSON.stringify(reserva)
})
.then(response => {
  if (!response.ok) {
    throw new Error('Error al realizar la reserva.');
  }
  return response.json();
})
.then(data => {
  alert("Reserva realizada exitosamente.");
  // Deseleccionar todas las horas seleccionadas
  deseleccionarHoras();
  // Recargar las reservas para el mismo día
  cargarReservasPorDia();
  
  // Redirigir a la misma página con los mismos parámetros en la URL
  var idVecino = obtenerParametroURL("idvecino");
  var idArea = obtenerParametroURL("idarea");
  window.location.href = `/reserva-horario?idvecino=${idVecino}&idarea=${idArea}`;
})
.catch(error => console.error('Error al reservar:', error.message));
              }
            })
            .catch(error => console.error('Error al cargar las reservas:', error));
        }
      })
      .catch(error => console.error('Error al verificar la reserva activa:', error));
  } else {
    alert("Debes seleccionar al menos una hora para realizar la reserva.");
  }
}

    // Función para obtener el primer idreserva disponible
    function obtenerIdReservaDisponible(idReservasUtilizados) {
      var idReserva = 1;
      while (idReservasUtilizados.includes(idReserva)) {
        idReserva++;
      }
      return idReserva;
    }

    // Función para obtener parámetros de la URL
    function obtenerParametroURL(nombre) {
      nombre = nombre.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
      var regex = new RegExp('[\\?&]' + nombre + '=([^&#]*)');
      var resultados = regex.exec(location.search);
      return resultados === null ? '' : decodeURIComponent(resultados[1].replace(/\+/g, ' '));
    }

    // Función para cancelar una reserva y redirigir a la misma página
    function cancelarReserva() {
      var vecinoId = obtenerParametroURL("idvecino");
      var areaId = obtenerParametroURL("idarea");

      // Agregar animación de presionar el botón
      var botonCancelar = document.querySelector(".boton-cancelar");
      botonCancelar.classList.add("pressed");

      fetch(`/reservas/eliminarPorVecino/${vecinoId}`, {
        method: 'DELETE'
      })
        .then(response => {
          // Remover animación después de un breve retraso
          setTimeout(function () {
            botonCancelar.classList.remove("pressed");
            // Redirigir a la misma página con los parámetros idvecino e idarea
            window.location.href = `/reserva-horario?idvecino=${vecinoId}&idarea=${areaId}`;
          }, 300); // 300 milisegundos (ajusta según sea necesario)
          return response.text();
        })
        .then(message => {
          alert(message);
          // Aquí puedes añadir lógica adicional después de eliminar la reserva, como actualizar la visualización de las reservas
        })
        .catch(error => console.error('Error al cancelar la reserva:', error));
    }
  </script>

  <!-- Script para cambiar el texto del usuario -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      function getQueryParam(param) {
        var searchParams = new URLSearchParams(window.location.search);
        return searchParams.get(param);
      }

      // Cargar datos de las áreas comunes por tipo al cargar la página
      window.onload = function () {
        var idvecino = getQueryParam('idvecino'); // Obtiene el ID de vecino de la URL
        var tipodearea = getQueryParam('tipodearea'); // Obtiene el tipo de área de la URL
        var idarea = getQueryParam('idarea'); // Obtiene el ID de área de la URL

        document.getElementById('home-link').setAttribute('href', `/menucomunidad?idvecino=${idvecino}`);

        // Consultar si el vecino es un gestor
        fetch(`http://localhost:8080/vecinoporid?idvecino=${idvecino}`)
          .then(response => {
            if (!response.ok) {
              throw new Error('No se pudo obtener la información del vecino');
            }
            return response.json();
          })
          .then(data => {
            var gestor = data.gestor; // Obtener el parámetro gestor

            // Cambiar el texto en el elemento usuario dependiendo del parámetro gestor
            var usuarioElement = document.querySelector('.usuario');
            if (gestor) {
              usuarioElement.textContent = 'Gestor de Comunidad';
            } else {
              usuarioElement.textContent = 'Vecino';
            }
          })
          .catch(error => {
            console.error('Error:', error);
          });

        // Obtener y mostrar el nombre del área común
        fetch(`/nombreArea/${idarea}`)
          .then(response => response.text())
          .then(nombreArea => {
            document.querySelector('.titulo').textContent = nombreArea;
          })
          .catch(error => console.error('Error al obtener el nombre del área común:', error));
      };
    });
  </script>

</body>

</html>
