<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Selección de horario</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" th:href="@{/static/css/reserva-padel.css}" />
  <style>
    /* Agregar efecto de presionar el botón */
    .boton-cancelar.pressed {
      transform: translateY(2px);
    }

    /* Estilo para resaltar los recuadros seleccionados */
    .seleccionado {
      background-color: lightblue;
    }

    /* Estilo para resaltar las reservas del vecino actual */
    .reserva-vecino {
      background-color: green;
    }

    /* Estilo para resaltar las reservas de otros vecinos */
    .reserva-otro-vecino {
      background-color: red;
    }
  </style>
</head>

<body>
  <!-- CABECERA -->
  <div class="cabecera">
    <span class="reserva-de-zonas">
      Selección de horario
    </span>
    <div class="container">
      <div class="tu-comunidad">
        TuComunidad
      </div>
      <p class="home">
        <a id="home-link" href="#" style="text-decoration: none;">
          <span class="home-sub-30">Home</span>
          <span></span>
        </a>
      </p>
      <div class="log-out">
        <span class="our-works">
          <a href="/" style="text-decoration: none;">Log out</a>
        </span>
      </div>
      <div class="usuario">
        Vecino
      </div>
    </div>
  </div>

  <!-- PAGINA -->
  <div class="pagina">
    <div class="container-6">
      <!-- PADEL -->
      <div class="elemento">
        <div class="borde-azul"></div>
        <div class="titulo">Zona Común</div>
        <!-- Agregar un campo de entrada para seleccionar el día -->
        <div class="container-select-dia">
          <label for="input-dia">Seleccionar día:</label>
          <input type="date" id="input-dia" onchange="cargarReservasPorDia()">
        </div>

        <!-- Elemento para mostrar el horario de reservas -->
        <div class="horario-reservas">
          <!-- Generar filas -->
          <div class="columnas-horas">
            <!-- Generar cuadrados por cada hora desde las 10:00:00 hasta las 22:00:00 -->
            <div th:each="hora : ${#numbers.sequence(10, 22)}" class="cuadrado-reserva" onclick="seleccionarHora(this)">
              <span th:text="${hora + ':00:00'}"></span>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container-botones">

      <!-- BOTÓN CANCELAR RESERVA -->
      <div class="boton-cancelar" onclick="cancelarReserva()">
        <span class="texto-boton">Cancelar reserva</span>
      </div>

      <!-- BOTÓN RESERVAR -->
      <div class="boton-reservar" onclick="reservar()">
        <span class="texto-boton">Reservar</span>
      </div>
    </div>
  </div>

  <!-- PIE DE PAGINA -->
  <div class="pie-de-pagina">
    <div class="container-5">
      <div class="image-2"></div>
      <div class="container-4">
        <img class="icon-1" th:src="@{/static/vectors/intagram.svg}" />
        <img class="icon-2" th:src="@{/static/vectors/facebook.svg}" />
        <img class="icon-3" th:src="@{/static/vectors/twitter.svg}" />
      </div>
      <div class="idioma">
        <span class="language">Idioma</span>
        <img class="icon-color" th:src="@{/static/vectors/flecha.svg}" />
      </div>
    </div>
    <div class="description" th:text="${descripcion}">
      Facilitamos la convivencia en tu comunidad
    </div>
    <div class="line"></div>
    <span class="tucom">©TuComunidad 2024</span>
  </div>

  <!-- Script para cargar las reservas por día -->
  <script>
    var horasSeleccionadas = []; // Array para almacenar las horas seleccionadas

    function cargarReservasPorDia() {
      // Limpiar las reservas pintadas al cambiar de día
  limpiarReservasPintadas();
  var fechaSeleccionada = new Date(document.getElementById("input-dia").value);
  var areaComunId = obtenerParametroURL("idarea");
  var idVecino = obtenerParametroURL("idvecino");

  // Realizar la petición al servidor para obtener las reservas para el área común y día especificados
  fetch(`/reservasporidarea?idarea=${areaComunId}`)
    .then(response => response.json())
    .then(reservas => {
      var cuadrados = document.querySelectorAll(".cuadrado-reserva");

      // Limpiar las clases de reserva de todos los cuadrados
      cuadrados.forEach(cuadrado => {
        cuadrado.classList.remove("reserva-rojo");
        cuadrado.classList.remove("reserva-verde"); // Limpiar clases de reserva
      });

      cuadrados.forEach(cuadrado => {
        var horaReserva = cuadrado.innerText.trim();

        // Obtener la hora de reserva en forma de timestamp
        var horaReservaTimestamp = new Date(fechaSeleccionada.getFullYear(), fechaSeleccionada.getMonth(), fechaSeleccionada.getDate(), horaReserva.split(":")[0], horaReserva.split(":")[1], horaReserva.split(":")[2]).getTime();

        // Verificar si hay alguna reserva que coincida con la fecha y hora seleccionadas
        var reserva = reservas.find(reserva => {
          var inicioReservaTimestamp = new Date(reserva.inicioReserva).getTime();
          var finReservaTimestamp = new Date(reserva.finReserva).getTime();
          return horaReservaTimestamp >= inicioReservaTimestamp && horaReservaTimestamp < finReservaTimestamp;
        });

        if (reserva) {
          if (reserva.idvecino === parseInt(idVecino)) {
            // Verificar si la reserva es del vecino actual y si está dentro del rango de horas
            var inicioReservaHora = new Date(reserva.inicioReserva).getHours();
            var finReservaHora = new Date(reserva.finReserva).getHours();
            var horaSeleccionada = parseInt(horaReserva.split(":")[0]);
            if (horaSeleccionada >= inicioReservaHora && horaSeleccionada < finReservaHora) {
              cuadrado.classList.add("reserva-vecino"); // Agregar clase de reserva del vecino actual
            }
          } else {
            cuadrado.classList.add("reserva-otro-vecino"); // Agregar clase de reserva de otro vecino
          }
        } else {
          cuadrado.classList.add("disponible"); // Marcar como libre si no hay reserva
        }
      });
    })
    .catch(error => console.error('Error al cargar las reservas:', error));
}



// Función para limpiar las reservas pintadas al cambiar de día
function limpiarReservasPintadas() {
  var cuadrados = document.querySelectorAll(".cuadrado-reserva");

  // Iterar sobre todos los cuadrados de reserva y eliminar las clases asociadas a las reservas
  cuadrados.forEach(cuadrado => {
    cuadrado.classList.remove("reserva-vecino");
    cuadrado.classList.remove("reserva-otro-vecino");
    cuadrado.classList.remove("disponible");
  });
}

    // Función para seleccionar una hora
    function seleccionarHora(cuadrado) {
      if (!cuadrado.classList.contains("reserva-rojo")) {
        if (cuadrado.classList.contains("seleccionado")) {
          cuadrado.classList.remove("seleccionado"); // Desmarcar la hora si ya estaba seleccionada
          actualizarHorasSeleccionadas();
        } else {
          if (horasSeleccionadas.length < 2 || (horasSeleccionadas.length === 2 && sonConsecutivas(cuadrado))) {
            cuadrado.classList.add("seleccionado"); // Marcar la hora si no estaba seleccionada y se cumplen las condiciones
            actualizarHorasSeleccionadas();
          } else {
            alert("Solo puedes seleccionar un máximo de 2 horas consecutivas sin reserva.");
          }
        }
      } else {
        alert("Esta hora tiene una reserva y no se puede seleccionar.");
      }
    }

    // Función para verificar si las horas seleccionadas son consecutivas
    function sonConsecutivas(cuadrado) {
      var horaSeleccionada = parseInt(cuadrado.innerText.trim().split(":")[0]);
      var horaAnterior = parseInt(horasSeleccionadas[0].innerText.trim().split(":")[0]);
      return Math.abs(horaSeleccionada - horaAnterior) === 1;
    }


    // Función para actualizar el array de horas seleccionadas
    function actualizarHorasSeleccionadas() {
      horasSeleccionadas = [];
      var cuadradosSeleccionados = document.querySelectorAll(".seleccionado");
      cuadradosSeleccionados.forEach(cuadrado => {
        horasSeleccionadas.push(cuadrado);
      });
    }

    // Función para reservar las horas seleccionadas
    // Función para reservar las horas seleccionadas
    function reservar() {
      var idVecino = obtenerParametroURL("idvecino");
      var idArea = obtenerParametroURL("idarea");

      if (horasSeleccionadas.length > 0) {
        // Realizar la petición al servidor para obtener los idreservas ya utilizados
        fetch(`http://localhost:8080/reservas/id`)
          .then(response => response.json())
          .then(data => {
            var idReservasUtilizados = data;
            var idReserva = obtenerIdReservaDisponible(idReservasUtilizados);

            // Obtener la fecha seleccionada
            var fechaSeleccionada = new Date(document.getElementById("input-dia").value);
            var year = fechaSeleccionada.getFullYear();
            var month = fechaSeleccionada.getMonth() + 1;
            var day = fechaSeleccionada.getDate();

            // Obtener las horas seleccionadas
            var horaInicio = horasSeleccionadas[0].innerText.trim();
            var horaFin = horasSeleccionadas.length === 2 ? horasSeleccionadas[1].innerText.trim() : horaInicio;

            // Formatear la hora de inicio y fin de reserva
            var inicioReserva = new Date(Date.UTC(year, month - 1, day, parseInt(horaInicio), 0, 0)).toISOString();
            var finReserva = new Date(Date.UTC(year, month - 1, day, parseInt(horaFin) + 1, 0, 0)).toISOString();

            // Crear objeto de reserva
            var reserva = {
              idreserva: idReserva,
              idvecino: parseInt(idVecino),
              idarea: parseInt(idArea),
              inicioReserva: inicioReserva,
              finReserva: finReserva
            };

            // Realizar la petición para agregar la reserva a la base de datos
            fetch(`/reservas/agregar`, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(reserva)
            })
              .then(response => response.json())
              .then(data => {
                alert("Reserva realizada exitosamente.");
                // Limpiar selección de horas después de reservar
                horasSeleccionadas.forEach(cuadrado => {
                  cuadrado.classList.remove("seleccionado");
                });
                // Actualizar las reservas en la página
                cargarReservasPorDia();
              })
              .catch(error => console.error('Error al reservar:', error));
          })
          .catch(error => console.error('Error al obtener idreservas utilizados:', error));
      } else {
        alert("Debes seleccionar al menos una hora para realizar la reserva.");
      }
    }



    // Función para obtener el primer idreserva disponible
    function obtenerIdReservaDisponible(idReservasUtilizados) {
      var idReserva = 1;
      while (idReservasUtilizados.includes(idReserva)) {
        idReserva++;
      }
      return idReserva;
    }

    // Función para obtener parámetros de la URL
    function obtenerParametroURL(nombre) {
      nombre = nombre.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
      var regex = new RegExp('[\\?&]' + nombre + '=([^&#]*)');
      var resultados = regex.exec(location.search);
      return resultados === null ? '' : decodeURIComponent(resultados[1].replace(/\+/g, ' '));
    }

    // Función para cancelar una reserva y redirigir a la misma página
    function cancelarReserva() {
      var vecinoId = obtenerParametroURL("idvecino");
      var areaId = obtenerParametroURL("idarea");

      // Agregar animación de presionar el botón
      var botonCancelar = document.querySelector(".boton-cancelar");
      botonCancelar.classList.add("pressed");

      fetch(`/reservas/eliminarPorVecino/${vecinoId}`, {
        method: 'DELETE'
      })
        .then(response => {
          // Remover animación después de un breve retraso
          setTimeout(function () {
            botonCancelar.classList.remove("pressed");
            // Redirigir a la misma página con los parámetros idvecino e idarea
            window.location.href = `/reserva-horario?idvecino=${vecinoId}&idarea=${areaId}`;
          }, 300); // 300 milisegundos (ajusta según sea necesario)
          return response.text();
        })
        .then(message => {
          alert(message);
          // Aquí puedes añadir lógica adicional después de eliminar la reserva, como actualizar la visualización de las reservas
        })
        .catch(error => console.error('Error al cancelar la reserva:', error));
    }
  </script>

  <!-- Script para cambiar el texto del usuario -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      function getQueryParam(param) {
        var searchParams = new URLSearchParams(window.location.search);
        return searchParams.get(param);
      }

      // Cargar datos de las áreas comunes por tipo al cargar la página
      window.onload = function () {
        var idvecino = getQueryParam('idvecino'); // Obtiene el ID de vecino de la URL
        var tipodearea = getQueryParam('tipodearea'); // Obtiene el tipo de área de la URL

        document.getElementById('home-link').setAttribute('href', `/menucomunidad?idvecino=${idvecino}`);

        // Consultar si el vecino es un gestor
        fetch(`http://localhost:8080/vecinoporid?idvecino=${idvecino}`)
          .then(response => {
            if (!response.ok) {
              throw new Error('No se pudo obtener la información del vecino');
            }
            return response.json();
          })
          .then(data => {
            var gestor = data.gestor; // Obtener el parámetro gestor

            // Cambiar el texto en el elemento usuario dependiendo del parámetro gestor
            var usuarioElement = document.querySelector('.usuario');
            if (gestor) {
              usuarioElement.textContent = 'Gestor de Comunidad';
            } else {
              usuarioElement.textContent = 'Vecino';
            }
          })
          .catch(error => {
            console.error('Error:', error);
          });
      }
    });
  </script>

</body>

</html>