<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RESERVA PISTA DE PADEL</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/css/reservaPistaDePadel.css" />
  </head>
  <body>
    <div class="reserva-pista-de-padel">
      <img class="rectangle-9" src="../static/assets/vectors/rectangle94_x2.svg" />
      <img class="rectangle-7" src="../static/assets/vectors/rectangle71_x2.svg" />
      <img class="rectangle-21" src="../static/assets/vectors/rectangle29_x2.svg" />
      <img class="rectangle-4" src="../static/assets/vectors/rectangle41_x2.svg" />
      <img class="rectangle-31" src="../static/assets/vectors/rectangle39_x2.svg" />
      <img class="ellipse-6331" src="../static/assets/vectors/ellipse6338_x2.svg" />
      <img class="rectangle-71" src="../static/assets/vectors/rectangle76_x2.svg" />
      <img class="rectangle-179" src="../static/assets/vectors/rectangle179_x2.svg" />
      <img class="rectangle-180" src="../static/assets/vectors/rectangle180_x2.svg" />
      <div class="navbar">
        <div class="tu-comunidad">
        TuComunidad
        </div>
        <div class="group-11040">
          <p class="pricing-faqs-freebies-contact-1">
          <span class="pricing-faqs-freebies-contact-1-sub-30"></span><span></span>
          </p>
          <div class="group-10937">
            <span class="our-works">
            Log Out
            </span>
          </div>
        </div>
      </div>
      <div class="group-22">
        <span class="reserva-de-zonas">
        Reserva de zonas
        </span>
      </div>
      <div class="container-8">
        <div class="group-9">
          <img class="rectangle-2" src="../static/assets/vectors/rectangle22_x2.svg" />
          <img class="rectangle-3" src="../static/assets/vectors/rectangle317_x2.svg" />
          <div class="group-8">
            <img class="ellipse-633" src="../static/assets/vectors/ellipse6335_x2.svg" />
            <img class="group-11085" src="../static/assets/vectors/group11085_x2.svg" />
            <div class="group-7">
              <div class="pista-de-padel">
              Pista de padel
              </div>
              <div class="group-6">
                <span class="reservar">
                Reservar
                </span>
                <img class="group-5" src="../static/assets/vectors/group57_x2.svg" />
              </div>
            </div>
          </div>
        </div>
        <div class="container-6">
          <div class="group-11082">
            <img class="vector-5" src="../static/assets/vectors/vector5_x2.svg" />
          </div>
          <div class="pista-de-tenis">
          Pista de tenis
          </div>
          <div class="group-61">
            <span class="reservar-1">
            Reservar
            </span>
            <img class="container-5" src="../static/assets/vectors/container4_x2.svg" />
          </div>
        </div>
        <div class="group-10">
          <img class="rectangle-22" src="../static/assets/vectors/rectangle212_x2.svg" />
          <img class="rectangle-32" src="../static/assets/vectors/rectangle310_x2.svg" />
          <img class="ellipse-6332" src="../static/assets/vectors/ellipse6334_x2.svg" />
          <div class="group-71">
            <div class="local">
            Local
            </div>
            <div class="group-62">
              <span class="reservar-2">
              Reservar
              </span>
              <img class="group-51" src="../static/assets/vectors/group54_x2.svg" />
            </div>
          </div>
          <div class="outline-general-home">
            <img class="icon-1" src="../static/assets/vectors/icon24_x2.svg" />
          </div>
        </div>
        <img class="group-11084" src="../static/assets/vectors/group11084_x2.svg" />
      </div>
      <div class="gestionar-reservas">
      Gestionar reservas
      </div>
      <div class="group-11016">
        <span class="acceder">
        Acceder
        </span>
        <img class="container-9" src="../static/assets/vectors/container_x2.svg" />
      </div>
      <div class="container-1">
        <div class="group-11096">
          <img class="rectangle-188" src="../static/assets/vectors/rectangle1883_x2.svg" />
          <img class="rectangle-33" src="../static/assets/vectors/rectangle316_x2.svg" />
          <div class="container-7">
            <div class="container">
              <div class="group-11099">
                <span class="pdel">
                Pádel
                </span>
              </div>
              <div class="group-11102">
                <span class="hoy">
                Hoy
                </span>
              </div>
              <div class="group-11103">
                <div class="rectangle-1944">
                </div>
                <span class="filtros">
                Filtros
                </span>
              </div>
              <div class="rectangle-193">
              </div>
            </div>
            <div class="group-11100">
              <span class="pdel-1">
              Pádel 1
              </span>
            </div>
            <div class="group-11101">
              <span class="pdel-2">
              Pádel 2
              </span>
            </div>
          </div>
        </div>
        <div class="container-3">
          <div class="group-11098">
            <span class="anular-reserva">
            Anular reserva
            </span>
          </div>
          <div class="group-11097">
            <span class="reservar-3">
            Reservar
            </span>
          </div>
        </div>
        <div class="group-11108">
          <img class="group-11109" src="../static/assets/vectors/group1110913_x2.svg" />
          <div class="container-4">
            <div class="outline-brands-facebook">
              <img class="icon-3" src="../static/assets/vectors/icon4_x2.svg" />
            </div>
            <div class="outline-brands-instagram">
              <img class="icon-2" src="../static/assets/vectors/icon69_x2.svg" />
            </div>
            <img class="icon" src="../static/assets/vectors/icon55_x2.svg" />
            <div class="container-2">
              <div class="language">
                <span class="language-1">
                Idioma
                </span>
              </div>
              <div class="round-navigation-chevron-right">
                <img class="icon-color" src="../static/assets/vectors/iconColor11_x2.svg" />
              </div>
            </div>
          </div>
          <div class="group-11015">
            <span class="description">
            Facilitamos la convivencia en tu comunidad
            </span>
          </div>
          <div class="line">
          </div>
          <div class="group-11014">
            <span class="paelory-2020">
            ©TuComunidad 2024
            </span>
          </div>
          <div class="image-2">
          </div>
        </div>
      </div>
      <div class="group-70">
        <img class="mask-group" src="../static/assets/vectors/maskGroup7_x2.svg" />
        <div class="navbar-1">
          <div class="tu-comunidad-1">
          TuComunidad
          </div>
          <div class="group-110401">
            <p class="pricing-faqs-freebies-contact-2">
            <span class="pricing-faqs-freebies-contact-2-sub-30"></span><span></span>
            </p>
            <div class="group-109371">
              <span class="our-works-1">
              Log Out
              </span>
            </div>
          </div>
          <div class="pricing-faqs-freebies-contact">
          Vecino
          </div>
        </div>
        <div class="group-11086">
          <span class="reserva-de-las-pistas-de-pdel">
          Reserva de las pistas de pádel
          </span>
        </div>
      </div>
    </div>
  </body>
</html>
