<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Selección de horario</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" th:href="@{/static/css/reserva-padel.css}" />
</head>

<body>
  <!-- CABECERA -->
  <div class="cabecera">
    <span class="reserva-de-zonas">
      Selección de horario
    </span>
    <div class="container">
      <div class="tu-comunidad">
        TuComunidad
      </div>
      <p class="home">
        <a id="home-link" href="#" style="text-decoration: none;">
          <span class="home-sub-30">Home</span>
          <span></span>
        </a>
      </p>
      <div class="log-out">
        <span class="our-works">
          <a href="/" style="text-decoration: none;">Log out</a>
        </span>
      </div>
      <div class="usuario">
        Vecino
      </div>
    </div>
  </div>

  <!-- PAGINA -->
  <div class="pagina">
    <div class="container-6">
      <!-- PADEL -->
      <div class="elemento">
        <div class="borde-azul"></div>
        <div class="titulo">Zona Común</div>
        <!-- Agregar un campo de entrada para seleccionar el día -->
        <div class="container-select-dia">
          <label for="input-dia">Seleccionar día:</label>
          <input type="date" id="input-dia" onchange="cargarReservasPorDia()">
        </div>

        <!-- Elemento para mostrar el horario de reservas -->
        <div class="horario-reservas">
          <!-- Generar filas -->
          <div class="columnas-horas">
            <!-- Generar cuadrados por cada hora desde las 10:00:00 hasta las 22:00:00 -->
            <div th:each="hora : ${#numbers.sequence(10, 22)}" class="cuadrado-reserva">
              <span th:text="${hora + ':00:00'}"></span>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container-botones">

      <!-- BOTÓN CANCELAR RESERVA -->
      <div class="boton-cancelar">
        <span class="texto-boton">Cancelar reserva</span>
      </div>

      <!-- BOTÓN RESERVAR -->
      <div class="boton-reservar">
        <span class="texto-boton">Reservar</span>
      </div>
    </div>
  </div>

  <!-- PIE DE PAGINA -->
  <div class="pie-de-pagina">
    <div class="container-5">
      <div class="image-2"></div>
      <div class="container-4">
        <img class="icon-1" th:src="@{/static/vectors/intagram.svg}" />
        <img class="icon-2" th:src="@{/static/vectors/facebook.svg}" />
        <img class="icon-3" th:src="@{/static/vectors/twitter.svg}" />
      </div>
      <div class="idioma">
        <span class="language">Idioma</span>
        <img class="icon-color" th:src="@{/static/vectors/flecha.svg}" />
      </div>
    </div>
    <div class="description" th:text="${descripcion}">
      Facilitamos la convivencia en tu comunidad
    </div>
    <div class="line"></div>
    <span class="tucom">©TuComunidad 2024</span>
  </div>

  <!-- Script para cargar las reservas por día -->
  <script>
    function cargarReservasPorDia() {
      var fechaSeleccionada = document.getElementById("input-dia").value;
      var areaComunId = obtenerParametroURL("idarea");

      // Realizar la petición al servidor para obtener las reservas para el área común y día especificados
      fetch(`/reservasporidarea?idarea=${areaComunId}`)
        .then(response => response.json())
        .then(reservas => {
          var cuadrados = document.querySelectorAll(".cuadrado-reserva");
          cuadrados.forEach(cuadrado => {
            var horaReserva = cuadrado.innerText.trim();
            var horaReservaDate = new Date(fechaSeleccionada + 'T' + horaReserva + ':00');

            var reserva = reservas.find(reserva => {
              var inicioReservaDate = new Date(reserva.inicioReserva);
              var finReservaDate = new Date(reserva.finReserva);
              return horaReservaDate >= inicioReservaDate && horaReservaDate < finReservaDate;
            });

            if (reserva) {
              cuadrado.classList.add("reserva-rojo");
            }
          });
        })
        .catch(error => console.error('Error al cargar las reservas:', error));
    }

    // Función para obtener parámetros de la URL
    function obtenerParametroURL(nombre) {
      nombre = nombre.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
      var regex = new RegExp('[\\?&]' + nombre + '=([^&#]*)');
      var resultados = regex.exec(location.search);
      return resultados === null ? '' : decodeURIComponent(resultados[1].replace(/\+/g, ' '));
    }
  </script>

  <!-- Script para cambiar el texto del usuario -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      function getQueryParam(param) {
        var searchParams = new URLSearchParams(window.location.search);
        return searchParams.get(param);
      }

      // Cargar datos de las áreas comunes por tipo al cargar la página
      window.onload = function () {
        var idvecino = getQueryParam('idvecino'); // Obtiene el ID de vecino de la URL
        var tipodearea = getQueryParam('tipodearea'); // Obtiene el tipo de área de la URL

        document.getElementById('home-link').setAttribute('href', `/menucomunidad?idvecino=${idvecino}`);

        // Consultar si el vecino es un gestor
        fetch(`http://localhost:8080/vecinoporid?idvecino=${idvecino}`)
          .then(response => {
            if (!response.ok) {
              throw new Error('No se pudo obtener la información del vecino');
            }
            return response.json();
          })
          .then(data => {
            var gestor = data.gestor; // Obtener el parámetro gestor

            // Cambiar el texto en el elemento usuario dependiendo del parámetro gestor
            var usuarioElement = document.querySelector('.usuario');
            if (gestor) {
              usuarioElement.textContent = 'Gestor de Comunidad';
            } else {
              usuarioElement.textContent = 'Vecino';
            }
          })
          .catch(error => {
            console.error('Error:', error);
          });
      }
    });
  </script>

</body>

</html>
