<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Reserva por Tipo de Área</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" th:href="@{/static/css/reserva.css}" />
</head>

<body>
  <!-- CABECERA -->
  <div class="cabecera">
    <span class="reserva-de-zonas">
      <!-- Título dinámico según el tipo de área -->
      <script>
        // Función para obtener parámetros de la URL
        function getQueryParam(param) {
          var searchParams = new URLSearchParams(window.location.search);
          return searchParams.get(param);
        }

        // Función para obtener el título según el tipo de área
        function obtenerTitulo(tipodearea) {
          if (tipodearea === '0') {
            return 'Reserva de Pista de Padel';
          } else if (tipodearea === '1') {
            return 'Reserva de Local';
          } else if (tipodearea === '2') {
            return 'Reserva de Gimnasio';
          } else {
            return 'Reserva de Zonas por Tipo de Área';
          }
        }

        // Obtener el tipo de área de la URL
        var tipodearea = getQueryParam('tipodearea');
        // Establecer el título de la página
        document.querySelector('.reserva-de-zonas').textContent = obtenerTitulo(tipodearea);
      </script>
    </span>
    <div class="container">
      <div class="tu-comunidad">
        TuComunidad
      </div>
      <p class="home">
        <a href="/comunidad" style="text-decoration: none;">
          <span class="home-sub-30">Home</span>
          <span></span>
        </a>
      </p>
      <div class="log-out">
        <span class="our-works">
          <a href="/" style="text-decoration: none;">Log out</a>
        </span>
      </div>
      <div class="usuario">
        Vecino
      </div>
    </div>
  </div>

  <!-- PAGINA -->
  <div class="pagina">
    <div class="container-6">
      <!-- Contenedores de áreas comunes -->
    </div>
  </div>

  <!-- PIE DE PAGINA -->
  <div class="pie-de-pagina">
    <div class="container-5">
      <div class="image-2">
      </div>
      <div class="container-4">
        <img class="icon-1" th:src="@{/static/vectors/intagram.svg}" />
        <img class="icon-2" th:src="@{/static/vectors/facebook.svg}" />
        <img class="icon-3" th:src="@{/static/vectors/twitter.svg}" />
      </div>
      <div class="idioma">
        <span class="language">
          Idioma
        </span>
        <img class="icon-color" th:src="@{/static/vectors/flecha.svg}" />
      </div>
    </div>
    <div class="description">
      Facilitamos la convivencia en tu comunidad
    </div>
    <div class="line">
    </div>
    <span class="tucom">
      ©TuComunidad 2024
    </span>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Función para obtener parámetros de la URL
      function getQueryParam(param) {
        var searchParams = new URLSearchParams(window.location.search);
        return searchParams.get(param);
      }

      // Cargar datos de las áreas comunes por tipo al cargar la página
      window.onload = function () {
        var idvecino = getQueryParam('idvecino'); // Obtiene el ID de vecino de la URL
        var tipodearea = getQueryParam('tipodearea'); // Obtiene el tipo de área de la URL
        if (idvecino && tipodearea) {
          fetch(`http://localhost:8080/areasporvecinoytipo?idvecino=${idvecino}&tipodearea=${tipodearea}`)
            .then(response => {
              if (!response.ok) {
                throw new Error('No se pudo obtener la información de las áreas comunes');
              }
              return response.json();
            })
            .then(data => {
              var areas = data; // Obtener las áreas comunes
              var container = document.querySelector('.container-6'); // Selección del contenedor de áreas comunes

              areas.forEach(area => {
                var newElement = document.createElement('div');
                newElement.classList.add('elemento');
                var areaImage = ''; // Variable para almacenar la imagen correspondiente
                if (tipodearea === '0') {
                  areaImage = 'PADEL';
                } else if (tipodearea === '1') {
                  areaImage = 'LOCAL';
                } else if (tipodearea === '2') {
                  areaImage = 'GIMNASIO';
                }
                newElement.innerHTML = `
                  <a href="/reserva-${area.nombre.toLowerCase()}?idvecino=${idvecino}" style="text-decoration: none;">
                    <div class="borde-azul"></div>
                    <div class="elipse-icono">
                      <div class="circulo"></div>
                      <img class="icono" src="/static/vectors/${areaImage.toLowerCase()}.svg" />
                    </div>
                    <div class="titulo">${area.nombre}</div>
                    <div class="reservar">
                        <span class="reservar-1">Reservar</span>
                        <img class="flecha-reservar" src="/static/vectors/flecha-reservar.svg" />
                    </div>
                  </a>
                `;
                container.appendChild(newElement);
              });
            })
            .catch(error => {
              console.error('Error:', error);
            });
        }
      }
    });
  </script>

</body>

</html>
