<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reserva (front)</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/css/reserva.css" />
  </head>
  <body>
    <div class="reserva">
      <div class="fondo-de-pantalla">
      </div>
      <div class="cabecera">
        <div class="mask-group">
          <div class="ellipse-6">
          </div>
        </div>
        <span class="reserva-de-zonas">
        Reserva de zonas
        </span>
        <div class="container">
          <div class="tu-comunidad">
          TuComunidad
          </div>
          <p class="home">
          <span class="home-sub-30"></span><span></span>
          </p>
          <div class="log-out">
            <span class="our-works">
            Log Out
            </span>
          </div>
          <div class="usuario">
          Vecino
          </div>
        </div>
      </div>
      <div class="container-6">
        <div class="padel">
          <img class="rectangle-2" src="../static/assets/vectors/rectangle2_x2.svg" />
          <img class="rectangle-3" src="../static/assets/vectors/rectangle3_x2.svg" />
          <img class="container-1" src="../static/assets/vectors/container1_x2.svg" />
          <div class="pista-de-padel">
          Pista de padel
          </div>
          <div class="reservar">
            <span class="reservar-1">
            Reservar
            </span>
            <img class="container-3" src="../static/assets/vectors/container3_x2.svg" />
          </div>
        </div>
        <div class="local">
          <img class="rectangle-188" src="../static/assets/vectors/rectangle188_x2.svg" />
          <img class="rectangle-31" src="../static/assets/vectors/rectangle31_x2.svg" />
          <img class="container-7" src="../static/assets/vectors/container2_x2.svg" />
          <div class="local-1">
          Local
          </div>
          <div class="reservar-2">
            <span class="reservar-3">
            Reservar
            </span>
            <img class="container-2" src="../static/assets/vectors/container_x2.svg" />
          </div>
        </div>
      </div>
      <div class="pie-de-pagina">
        <div class="container-5">
          <div class="image-2">
          </div>
          <img class="icon" src="../static/assets/vectors/icon_x2.svg" />
          <div class="container-4">
            <img class="icon-1" src="../static/assets/vectors/icon2_x2.svg" />
            <img class="icon-2" src="../static/assets/vectors/icon1_x2.svg" />
          </div>
          <div class="idioma">
            <span class="language">
            Idioma
            </span>
            <img class="icon-color" src="../static/assets/vectors/iconColor_x2.svg" />
          </div>
        </div>
        <div class="description">
        Facilitamos la convivencia en tu comunidad
        </div>
        <div class="line">
        </div>
        <span class="tucom">
        ©TuComunidad 2024
        </span>
      </div>
    </div>
  </body>
</html>