<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Restablecer contraseña</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="../static/css/pag3.css" />

  <script>
    document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('resetPasswordForm').addEventListener('submit', function(e) {
      e.preventDefault();

      var newPassword = document.getElementById('new_password').value;
      var confirmPassword = document.getElementById('confirm_password').value;
      //var verificationCode = document.getElementById('verification_code').value;

      // Verificar si las contraseñas coinciden
      if (newPassword !== confirmPassword) {
          alert('Las contraseñas no coinciden.');
          return;
      }

      // Aquí, debes enviar los datos al endpoint correcto en tu controlador
      fetch('/cambioContrasena', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
          },
          body: JSON.stringify({
              newPassword: newPassword,
              //verificationCode: verificationCode
          }),
      })
      .then(response => {
          // Manejar la respuesta
          if(response.ok) {
              alert('Contraseña restablecida con éxito');
          } else {
              alert('Error al restablecer la contraseña');
          }
      })
      .catch((error) => {
          console.error('Error:', error);
      });
  });
})
  </script>
</head>

<body>
  <!--CABECERA-->
  <div class="cabecera">
    <span class="reserva-de-zonas">
      Restablecer contraseña
    </span>
    <div class="container">
      <div class="tu-comunidad">
        TuComunidad
      </div>
      <p class="home">
        <span class="home-sub-30">Home</span><span></span>
      </p>
      
    </div>
  </div>

  <!--PAGINA-->
  <div class="pagina">
    <div class="container-6">
        <p>Por favor, escriba su nueva contraseña:</p>
        <form action="#" method="post">
            <label for="new_password">Nueva Contraseña:</label>
            <input type="password" id="new_password" name="new_password" required>
            <label for="confirm_password">Confirmar Nueva Contraseña:</label>
            <input type="password" id="confirm_password" name="confirm_password" required>
            <!--<label for="verification_code">Código de Verificación:</label>
            <input type="text" id="verification_code" name="verification_code" >-->
            <input type="submit" value="Cambiar Contraseña">
            
        </form>
        <!--<p>¿No te ha llegado el correo?<a href="#"> Volver a enviar</a>.</p>-->
    
    
    </div>
  </div>


  <!--PIE DE PAGINA-->
  <div class="pie-de-pagina">
    <div class="container-5">
      <div class="image-2">
      </div>
      <div class="container-4">
        <img class="icon-1" src="../static/vectors/intagram.svg" />
        <img class="icon-2" src="../static/vectors/facebook.svg" />
        <img class="icon-3" src="../static/vectors/twitter.svg" />
      </div>
      <div class="idioma">
        <span class="language">
          Idioma
        </span>
        <img class="icon-color" src="../static/vectors/flecha.svg" />
      </div>
    </div>
    <div class="description">
      Facilitamos la convivencia en tu comunidad
    </div>
    <div class="line">
    </div>
    <span class="tucom">
      ©TuComunidad 2024
    </span>
  </div>
</body>

</html>